<div class="flex justify-center items-center h-lvh-screen">
  <div
    class="flex flex-col py-8 px-4 w-full h-screen sm:px-12 lg:w-[45%] xl:w-[40%]" 
  >
    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-2">
        <div
          class="bg-zinc-800 flex items-center justify-center py-1 px-2.5 rounded-custom-sm"
        >
          <i-lucide class="w-3.5 text-white" name="hand-heart"></i-lucide>
        </div>
        <p class="text-2xl sm:text-size-3xl font-semibold">Bem-vindo</p>
      </div>
      <p class="text-size-base sm:text-size-md">
        Comece informando seu CPF para acessar o sistema.
      </p>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="p-4 bg-no-repeat bg-cover w-[55%] h-screen hidden lg:block xl:w-[60%]">
    <div
      class="bg-[url(/img/bg-login.jpeg)] bg-no-repeat rounded-4xl bg-cover h-full w-full   "
    ></div>
  </div>
</div>
