<div class="flex justify-center items-center h-lvh-screen">
  <div
    class="flex flex-col py-20 px-16 w-[55%] h-screen max-sm:w-full max-sm:px-4 max-sm:h-full"
  >
    <div class="flex gap-3.5 items-center">
      <div class="w-12 h-12 rounded-full bg-gray-300"></div>
      <p>Evangelho Sem Fronteiras</p>
    </div>
    <p class="text-2xl mt-8 font-semibold">Bom te ver de novo 👋</p>
    <router-outlet></router-outlet>
  </div>
  <div
    class="bg-[url(/img/bg-login.jpeg)] bg-no-repeat bg-cover w-[65%] h-screen max-sm:hidden"
  ></div>
</div>