<div class="flex">
  <div
    class="bg-[url(/img/bg-login.png)] bg-no-repeat bg-cover w-[65%] h-screen max-sm:hidden"
  ></div>
  <div class="flex flex-col gap-8 py-20 px-16 w-[35%] h-screen max-sm:w-full max-sm:px-10 max-sm:h-full">
    <div class="flex gap-3.5 items-center">
      <div class="w-12 h-12 rounded-full bg-gray-300"></div>
      <p>Logo + nome</p>
    </div>
    <p class="text-2xl font-semibold">Bom te ver de novo 👋</p>
    <form
      (ngSubmit)="onSubmit()"
      #loginForm="ngForm"
      class="flex flex-col gap-5 h-full"
    >
      <div class="flex flex-col gap-2">
        <label for="email" class="text-sm font-medium">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="bg-[#F2F2F2] text-[#808080] border border-[#E5E5E5] rounded-[0.5rem] w-full py-3.5 px-4 focus:outline-none"
          placeholder="Email"
        />
      </div>
      <div class="flex flex-col gap-2">
        <label for="senha" class="text-sm font-medium">Senha</label>
        <input
          type="password"
          id="senha"
          name="senha"
          required
          class="bg-[#F2F2F2] text-[#808080] border border-[#E5E5E5] rounded-[0.5rem] w-full py-3.5 px-4 focus:outline-none"
          placeholder="Senha"
        />
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <mat-slide-toggle ></mat-slide-toggle>
          <label for="lembrar" class="text-sm font-medium">Lembrar-me</label>
        </div>
        <a href="#" class="text-sm text-[#007AFF] font-medium"
          >Esqueceu a senha?</a
        >
      </div>

        <button class="bg-[#007AFF] text-white font-semibold rounded-[0.5rem] py-2.5">
          Entrar
        </button>
      <div class="flex items-center justify-center gap-2">
        <p class="text-sm font-medium">Não tem uma conta?</p>
        <a href="#" class="text-[#007AFF] font-medium">Criar conta</a>
      </div>
    </form>
  </div>
</div>
