<div class="px-6 pb-6 pt-4">
  <div class="flex justify-end w-full">
    <app-custom-button
      variante="icone"
      icone="circle-x"
      classeCustom="!text-rose-500 !bg-transparent"
      (aoClicar)="fechar()"
    >
    </app-custom-button>
  </div>

  <form class="grid grid-cols-8 gap-3.5" [formGroup]="formFiltroUsuario">
    <app-input
      class="col-start-1 col-end-9"
      [(formController)]="formFiltroUsuario.controls['nome']"
      [placeholder]="'Nome do usuário'"
      [id]="'nome'"
      [name]="'nome'"
      [tipo]="'text'"
      [label]="'Nome'"
    ></app-input>
    <app-input
      class="col-start-1 col-end-9"
      [(formController)]="formFiltroUsuario.controls['cpf']"
      [placeholder]="'CPF do usuário'"
      [id]="'cpf'"
      [name]="'cpf'"
      [tipo]="'text'"
      [label]="'CPF'"
    ></app-input>
    <app-input
      class="col-start-1 col-end-5"
      [tipo]="'select'"
      [label]="'Igreja'"
      [placeholder]="'Selecione'"
      [formController]="formFiltroUsuario.controls['idIgreja']"
      [opcoes]="igrejas"
      mensagemErro="Campo obrigatório"
    ></app-input>

    <app-input
      class="col-start-5 col-end-9"
      [tipo]="'select'"
      [label]="'Classe'"
      [placeholder]="'Selecione'"
      [formController]="formFiltroUsuario.controls['idClasse']"
      [opcoes]="classes"
      mensagemErro="Campo obrigatório"
    ></app-input>

    <app-input
      class="col-start-1 col-end-9"
      [tipo]="'select'"
      [label]="'Tipo usuário'"
      [placeholder]="'Selecione'"
      [formController]="formFiltroUsuario.controls['tipoUsuario']"
      [opcoes]="mapearEnumParaSelect()"
      mensagemErro="Campo obrigatório"
    ></app-input>

    <div class="flex items-center gap-2.5 col-start-1 col-end-9">
      <app-custom-button
        class="w-full"
        texto="Filtrar"
        icone="funnel"
        variante="primario"
        (aoClicar)="enviarFiltro()"
      ></app-custom-button>
      <app-custom-button
        icone="trash2"
        classeCustom="bg-rose-500"
        variante="alerta"
        (aoClicar)="limparFiltro()"
      ></app-custom-button>
    </div>
  </form>
</div>
