<div class="flex flex-col gap-2.5">
  <form
    (ngSubmit)="onSubmit()"
    #loginForm="ngForm"
    class="flex flex-col gap-5 h-full pb-7 pt-4"
  >
    <app-input
      [(formController)]="formLogin.controls['cpf']"
      [placeholder]="'CPF'"
      [id]="'cpf'"
      [name]="'cpf'"
      [tipo]="'text'"
      [formSubmetido]="formSubmetido"
      [label]="'CPF'"
      [mask]="'000.000.000-00'"
    ></app-input>
    <app-input
      [(formController)]="formLogin.controls['senha']"
      [placeholder]="'Senha'"
      [id]="'senha'"
      [name]="'senha'"
      [tipo]="'password'"
      [formSubmetido]="formSubmetido"
      [label]="'Senha'"
    ></app-input>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <mat-slide-toggle></mat-slide-toggle>
        <label for="lembrar" class="text-size-base font-medium"
          >Lembrar-me</label
        >
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <app-custom-button
        texto="Entrar"
        icone="move-right"
        variante="primario"
        [disabled]="!formLogin.valid"
        (aoClicar)="buscarUsuarioAdmin()"
      ></app-custom-button>
      <app-custom-button
        texto="Voltar"
        variante="secundario"
        (aoClicar)="voltar()"
      ></app-custom-button>
    </div>
  </form>
</div>
