<div class="flex flex-col gap-2.5">
  <form
    (ngSubmit)="onSubmit()"
    #loginForm="ngForm"
    class="flex flex-col gap-5 h-full py-7"
  >
    <app-input
      [(formController)]="formLogin.controls['cpf']"
      [placeholder]="'CPF'"
      [id]="'cpf'"
      [name]="'cpf'"
      [tipo]="'text'"
      [formSubmetido]="formSubmetido"
      [label]="'CPF'"
      [mask]="'000.000.000-00'"
    ></app-input>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <mat-slide-toggle></mat-slide-toggle>
        <label for="lembrar" class="text-sm font-medium">Lembrar-me</label>
      </div>
    </div>
    <button
      (click)="realizarLogin()"
      class="bg-[#007AFF] text-white font-semibold rounded-[0.5rem] py-2.5"
    >
      Entrar
    </button>
  </form>
</div>
