<div class="{{ classeInput }}">
  <div class="flex flex-col gap-2">
    <label
      [for]="id"
      [for]="id"
      class="text-[10px] sm:text-[12px] font-medium"
      >{{ label }} <span *ngIf="obrigatorio" class="text-red-600">*</span></label
    >

    <!-- Wrapper estilizado -->
    <div
      [ngClass]="{ 'opacity-60': disabled }"
      class="bg-white h-12 text-[#808080] border border-[#E5E5E5] rounded-[0.5rem] w-full py-[13px] px-2.5 focus:outline-none flex items-center gap-2"
    >
      <!-- Campo de texto ou número -->
      <input
        *ngIf="tipoInput !== 'select'"
        [mask]="mask"
        class="outline-none w-full text-[11px] sm:text-[13px] bg-transparent"
        [formControl]="formController"
        [placeholder]="placeholder"
        [type]="tipoInput"
        [disabled]="disabled"
        [id]="id"
        [name]="id"
        autocomplete="off"
      />

      <!-- Campo select -->
      <select
        *ngIf="tipoInput === 'select'"
        class="outline-none w-full py-[1px] text-[11px] bg-transparent"
        [formControl]="formController"
        [disabled]="disabled"
        [id]="id"
        [name]="id"
        (change)="aoSelecionar($event)"
      >
        <option value="" disabled selected hidden>{{ placeholder }}</option>
        <option *ngFor="let opcao of opcoes" [value]="opcao.id">
          {{ opcao.descricao }}
        </option>
      </select>

      <!-- Ícone de validação -->
      <div class="h-3 flex items-center justify-center" *ngIf="tipo !== 'select'">
        <ng-container
          *ngIf="contemIcone && (formSubmetido || formController.touched)"
        >
          <i-lucide
            *ngIf="formController.valid"
            name="check"
            class="text-green-600/50 w-3 h-fit"
          ></i-lucide>
          <i-lucide
            *ngIf="formController.invalid"
            name="x"
            class="text-red-600/50 w-3 h-fit"
          ></i-lucide>
        </ng-container>
      </div>

      <!-- Ícone para password -->
      <ng-container *ngIf="tipo === 'password'">
        <button
          type="button"
          (click)="mostrarSenha = !mostrarSenha"
          class="text-gray-600 hover:text-black focus:outline-none"
        >
          <i-lucide
            [name]="mostrarSenha ? 'eye-closed' : 'eye'"
            class="w-4 h-4"
          ></i-lucide>
        </button>
      </ng-container>
    </div>

    <!-- Mensagem de erro -->
    <span *ngIf="mostrarErro" class="text-rose-500 text-[9px]">{{
      mensagemErro
    }}</span>
  </div>
</div>
