<div class="flex justify-center items-center h-svh-screen">
  <div
    class="flex flex-col py-8 px-16 w-[55%] h-screen max-sm:w-full max-sm:px-4 max-sm:h-full"
  >
    <div class="flex flex-col gap-2">
      <p class="text-2xl font-semibold">Seja bem-vindo 👋</p>
      <p class="text-[12px]">Preencha os campos abaixo com seus dados pessoais.</p>
    </div>
    <router-outlet></router-outlet>  
  </div>

  <div
    class="bg-[url(/img/bg-login.png)] bg-no-repeat bg-cover w-[45%] h-screen max-sm:hidden"
  ></div>
</div>
