<div class="flex justify-center items-center h-lvh-screen">
  <div
    class="flex flex-col gap-8 py-20 px-16 w-[55%] h-screen max-sm:w-full max-sm:px-10 max-sm:h-full"
  >
    <div class="flex gap-3.5 items-center">
      <div class="w-12 h-12 rounded-full bg-gray-300"></div>
      <p>Evangelho Sem Fronteiras</p>
    </div>
    <p class="text-2xl font-semibold">Seja bem-vindo 👋</p>
    <mat-stepper
      class="max-sm:!hidden"
      [linear]="true"
      [disableRipple]="true"
      orientation="horizontal"
      #stepper
    >
      <ng-template matStepperIcon="edit">
        <div class="step-icon active"></div>
      </ng-template>
      <ng-template matStepperIcon="done">
        <div class="step-icon completed"></div>
      </ng-template>
      <ng-template matStepperIcon="number">
        <div class="step-icon pending"></div>
      </ng-template>
      <ng-container *ngFor="let step of steps">
        <mat-step [stepControl]="formCadastro">
          <form
            class="grid grid-cols-3 gap-3.5 py-5 px-2.5"
            [formGroup]="formCadastro"
          >
            <ng-template matStepLabel>{{ step.label }}</ng-template>

            <app-input
              class="col-start-1 col-end-3"
              [(formController)]="formCadastro.controls['nomeCompleto']"
              [placeholder]="'Nome Completo'"
              [id]="'nomeCompleto'"
              [name]="'nomeCompleto'"
              [tipo]="'text'"
              [formSubmetido]="formSubmetido"
              [label]="'Nome Completo'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              class="col-start-3 col-end-4"
              [(formController)]="formCadastro.controls['cpf']"
              [placeholder]="'CPF'"
              [id]="'cpf'"
              [name]="'cpf'"
              [tipo]="'text'"
              [formSubmetido]="formSubmetido"
              [label]="'CPF'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['telefone']"
              [placeholder]="'Telefone'"
              [id]="'telefone'"
              [name]="'telefone'"
              [tipo]="'text'"
              [formSubmetido]="formSubmetido"
              [label]="'Telefone'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['nascimento']"
              [placeholder]="'Data de Nascimento'"
              [id]="'nascimento'"
              [name]="'nascimento'"
              [formSubmetido]="formSubmetido"
              [label]="'Data de Nascimento'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['email']"
              [placeholder]="'Email'"
              [id]="'email'"
              [name]="'email'"
              [tipo]="'email'"
              [formSubmetido]="formSubmetido"
              [label]="'Email'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['senha']"
              [placeholder]="'Senha'"
              [id]="'senha'"
              [name]="'senha'"
              [formSubmetido]="formSubmetido"
              [label]="'Senha'"
              [contemIcone]="true"
            ></app-input>

            <div>
              <button (click)="testar()" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      </ng-container>
    </mat-stepper>

    <mat-stepper
      class="max-sm:!block md:!hidden"
      [linear]="true"
      [disableRipple]="true"
      orientation="vertical"
      #stepper
    >
      <ng-template matStepperIcon="edit">
        <div class="step-icon active"></div>
      </ng-template>
      <ng-template matStepperIcon="done">
        <div class="step-icon completed"></div>
      </ng-template>
      <ng-template matStepperIcon="number">
        <div class="step-icon pending"></div>
      </ng-template>
      <ng-container *ngFor="let step of steps">
        <mat-step [stepControl]="formCadastro">
          <form
            class="grid grid-cols-3 gap-3.5 py-5 px-2.5 max-sm:flex flex-col"
            [formGroup]="formCadastro"
          >
            <ng-template matStepLabel>{{ step.label }}</ng-template>

            <app-input
              class="col-start-1 col-end-3"
              [(formController)]="formCadastro.controls['nomeCompleto']"
              [placeholder]="'Nome Completo'"
              [id]="'nomeCompleto'"
              [name]="'nomeCompleto'"
              [tipo]="'text'"
              [formSubmetido]="formSubmetido"
              [label]="'Nome Completo'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              class="col-start-3 col-end-4"
              [(formController)]="formCadastro.controls['cpf']"
              [placeholder]="'CPF'"
              [id]="'cpf'"
              [name]="'cpf'"
              [tipo]="'text'"
              [formSubmetido]="formSubmetido"
              [label]="'CPF'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['telefone']"
              [placeholder]="'Telefone'"
              [id]="'telefone'"
              [name]="'telefone'"
              [tipo]="'text'"
              [formSubmetido]="formSubmetido"
              [label]="'Telefone'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['nascimento']"
              [placeholder]="'Data de Nascimento'"
              [id]="'nascimento'"
              [name]="'nascimento'"
              [formSubmetido]="formSubmetido"
              [label]="'Data de Nascimento'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['email']"
              [placeholder]="'Email'"
              [id]="'email'"
              [name]="'email'"
              [tipo]="'email'"
              [formSubmetido]="formSubmetido"
              [label]="'Email'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['senha']"
              [placeholder]="'Senha'"
              [id]="'senha'"
              [name]="'senha'"
              [formSubmetido]="formSubmetido"
              [label]="'Senha'"
              [contemIcone]="true"
            ></app-input>

            <div>
              <button (click)="testar()" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      </ng-container>
    </mat-stepper>
  </div>
  <div
    class="bg-[url(/img/bg-login.png)] bg-no-repeat bg-cover w-[45%] h-screen max-sm:hidden"
  ></div>
</div>

<!-- <mat-stepper
      class="max-sm:hidden"
      [linear]="true"
      [disableRipple]="true"
      orientation="horizontal"
      #stepper
    >
      <ng-template matStepperIcon="edit">
        <div class="step-icon active"></div>
      </ng-template>
      <ng-template matStepperIcon="done">
        <div class="step-icon completed"></div>
      </ng-template>
      <ng-template matStepperIcon="number">
        <div class="step-icon pending"></div>
      </ng-template>
      <ng-container *ngFor="let step of steps">
        <mat-step [stepControl]="firstFormGroup">
          <form class="grid grid-cols-3 gap-1.5" [formGroup]="firstFormGroup">
            <ng-template matStepLabel>{{ step.label }}</ng-template>

            <app-input
              class="col-start-1 col-end-3"
              [(formController)]="formCadastro.controls['nomeCompleto']"
              [placeholder]="'Nome Completo'"
              [id]="'nomeCompleto'"
              [name]="'nomeCompleto'"
              [tipo]="'text'"
              [formSubmetido]="formSubmetido"
              [label]="'Nome Completo'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              class="col-start-3 col-end-4"
              [(formController)]="formCadastro.controls['cpf']"
              [placeholder]="'CPF'"
              [id]="'cpf'"
              [name]="'cpf'"
              [tipo]="'text'"
              [formSubmetido]="formSubmetido"
              [label]="'CPF'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['telefone']"
              [placeholder]="'Telefone'"
              [id]="'telefone'"
              [name]="'telefone'"
              [tipo]="'text'"
              [formSubmetido]="formSubmetido"
              [label]="'Telefone'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['nascimento']"
              [placeholder]="'Data de Nascimento'"
              [id]="'nascimento'"
              [name]="'nascimento'"
              [formSubmetido]="formSubmetido"
              [label]="'Data de Nascimento'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['email']"
              [placeholder]="'Email'"
              [id]="'email'"
              [name]="'email'"
              [tipo]="'email'"
              [formSubmetido]="formSubmetido"
              [label]="'Email'"
              [contemIcone]="true"
            ></app-input>
            <app-input
              [(formController)]="formCadastro.controls['senha']"
              [placeholder]="'Senha'"
              [id]="'senha'"
              [name]="'senha'"
              [formSubmetido]="formSubmetido"
              [label]="'Senha'"
              [contemIcone]="true"
            ></app-input>

            <div>
              <button (click)="testar()" mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      </ng-container>
    </mat-stepper> -->
