<div class="flex flex-col gap-3.5 pb-4">
  <div
    class="bg-white rounded-2xl shadow-md pt-5 pb-5 pl-5 border border-dashed border-gray-300 relative flex items-center h-25 overflow-hidden"
  >
    <p class="text-size-xs sm:text-size-base sm:text-size-md text-justify">
      Olá, esta é a <strong>Tela de gestão de usuários</strong>, aqui você pode
      visualizar, editar e cadastrar informações dos usuários.
    </p>
    <ng-lottie [options]="options" class="w-60 h-60 sm:w-35 sm:h-35" />
  </div>

  <div
    class="flex flex-col "
    *ngIf="exibicaoListaUsuarios && usuarios?.itens.length > 0"
  >
    <div class="flex w-full justify-end items-end gap-4">
      <app-custom-button
        texto="Filtro"
        icone="funnel"
        variante="custom"
        classeCustom=" !text-normal  text-zinc-500 "
        (aoClicar)="abrirFiltro()"
      ></app-custom-button>
    </div>
    <div
      class="flex flex-col gap-3.5 bg-white rounded-custom-md shadow-lg pl-5 pt-5 pr-5 pb-3 relative"
    >
      <div
        class="flex flex-col gap-4 text-size-xs sm:text-size-base sm:text-size-md"
      >
        <div
          [ngClass]="{
            ' border-b border-dashed border-gray-300 pb-3':
              usuarios?.itens.length > 1 && i != usuarios?.itens.length - 1
          }"
          class="flex items-center justify-between"
          *ngFor="let usuario of usuarios?.itens; let i = index"
        >
          <div class="flex gap-3.5 items-center w-full">
            <div class="flex items-center justify-between w-full">
              <div class="flex gap-3.5 items-center">
                <div class="flex items-center gap-2 w-[100px] sm:w-[250px]">
                  <p class="flex flex-col justify-between">
                    <span
                      class="font-medium flex items-center justify-start gap-1"
                      >{{ usuario?.nome | nomeAbreviado }}
                      <i-lucide name="info" class="w-2.5 h-[15px]"></i-lucide
                    ></span>
                    <span
                      class="font-normal text-size-2xs sm:text-size-sm text-gray-500"
                      >{{ usuario.igreja | nomeFormatado }}</span
                    >
                  </p>
                </div>
                <div class="h-4 w-[1px] bg-gray-300"></div>
                <div class="flex items-center gap-2 w-[70px] sm:w-[150px]">
                  <p class="flex flex-col justify-between">
                    <span class="font-medium">CPF</span>
                    <span
                      class="font-normal text-size-2xs sm:text-size-sm text-gray-500"
                      >{{ usuario.cpf | cpf }}</span
                    >
                  </p>
                </div>
                <div class="h-4 w-[1px] bg-gray-300"></div>
                <div class="flex items-center gap-2 w-[70px] sm:w-[150px]">
                  <p class="flex flex-col justify-between">
                    <span class="font-medium">{{
                      usuario.tipoUsuario | nomeFormatado
                    }}</span>
                    <span
                      class="font-normal text-size-2xs sm:text-size-sm text-gray-500"
                      >{{ usuario.classe | nomeFormatado }}</span
                    >
                  </p>
                </div>
              </div>
              <button [matMenuTriggerFor]="menu" class="bg-gray-200 cursor-pointer flex items-center justify-center h-4 w-4 sm:h-6 sm:w-6 rounded-custom-xs">
                <i-lucide
                  class="w-2 sm:w-3"
                  name="ellipsis-vertical"
                ></i-lucide>
              </button>

              <mat-menu #menu="matMenu" >
                <button class="flex gap-2.5 hover:bg-gray-200 cursor-pointer duration-300 py-2.5 px-4 rounded-sm items-center justify-center">Editar <i-lucide name="pencil" class="w-4"></i-lucide></button>
                <button class="flex gap-2.5 hover:bg-rose-200 cursor-pointer duration-300 py-2.5 px-4 rounded-sm items-center justify-center">Excluir <i-lucide name="ban" class="w-4"></i-lucide></button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>

      <mat-paginator
        [hidePageSize]="true"
        [length]="usuarios?.totalItens"
        [pageSize]="usuarios?.tamanhoPagina"
        aria-label="Select page"
        (page)="pageEvent = buscarUsuarios($event)"
      >
      </mat-paginator>
    </div>
  </div>
  <div
    *ngIf="!exibicaoListaUsuarios"
    class="bg-white rounded-2xl shadow-md pb-5 pl-5 pr-5 border border-dashed border-gray-300 relative flex flex-col items-center"
  >
    <ng-lottie [options]="animacaoErro" class="w-30 h-30" />

    <div class="flex flex-col items-center gap-1">
      <p class="text-size-base sm:text-size-md font-medium text-justify">
        Ops, nenhum participante encontrado!
      </p>
      <p class="text-size-xs sm:text-size-base sm:text-size-md text-center">
        Selecione outros filtros e realize a consulta para tentar novamente.
      </p>
    </div>
  </div>
</div>
