<div class="flex flex-col gap-3.5 pb-3.5">
  <div
    class="bg-white rounded-2xl shadow-md pt-5 pb-5 pl-5 border border-dashed border-gray-300 relative flex items-center h-25 overflow-hidden"
  >
    <p class="text-[10px] text-justify">
      Olá, esta é a <strong>Tela de cadastro e edição das visitas</strong>, aqui
      você pode cadastrar, editar e excluir visitas.
    </p>
    <ng-lottie [options]="options" class="w-60 h-60" />
  </div>
  <div class="col-start-1 col-end-10 flex items-end gap-2">
    <app-input
      class="w-full"
      [(formController)]="formVisita.controls['nome']"
      [placeholder]="'Nome do participante'"
      [id]="'nome'"
      [name]="'nome'"
      [tipo]="'text'"
      [label]="'Nome'"
    ></app-input>

    <button
      (click)="buscarVisitas()"
      class="bg-[#007AFF] flex items-center justify-center rounded-[8px] py-3 px-4"
    >
      <i-lucide class="w-3.5 text-white" name="search"></i-lucide>
    </button>
  </div>

  <div
    class="flex flex-col gap-3.5"
    *ngIf="exibicaoListaVisitas && visitas.length > 0"
  >
    <div
      class="flex flex-col gap-3.5 bg-white rounded-[18px] shadow-lg pl-5 pt-5 pr-5 pb-3 relative"
    >
      <div class="flex flex-col gap-4 text-[10px]">
        <div
          [ngClass]="{
            ' border-b border-dashed border-gray-300 pb-3':
              visitas.length > 1 && i != visitas.length - 1
          }"
          class="flex items-center justify-between"
          *ngFor="let visita of visitas; let i = index"
        >
          <div class="flex gap-3.5 items-center w-full">
            <div class="flex items-center justify-between w-full">
              <div class="flex gap-3.5 items-center">
                <div class="flex items-center gap-2 w-[100px]">
                  <p class="flex flex-col justify-between">
                    <span
                      class="font-medium flex items-center justify-start gap-1"
                      >{{ visita?.nome | nomeAbreviado }}
                      <i-lucide name="info" class="w-2.5 h-[15px]"></i-lucide
                    ></span>
                    <span class="font-normal text-[9px] text-gray-500">{{
                      visita.endereco | nomeFormatado
                    }}</span>
                  </p>
                </div>
                <div class="h-4 w-[1px] bg-gray-300"></div>
                <div class="flex items-center gap-2 w-[140px]">
                  <p class="flex flex-col justify-between">
                    <span class="font-medium">Observação</span>
                    <span class="font-normal text-[9px] text-gray-500">{{
                      visita.observacao || "Não possui" | nomeFormatado
                    }}</span>
                  </p>
                </div>
              </div>
              <div class="flex items-center gap-2">
                <button
                  (click)="abrirModalCadastroEdicaoVisita(visita)"
                  class="bg-gray-300 flex items-center justify-center h-5 w-5 rounded-[4px]"
                >
                  <i-lucide class="w-2" name="pencil"></i-lucide>
                </button>
                <button
                  (click)="abrirModalConfirmacao(visita.id)"
                  class="bg-red-300 flex items-center justify-center h-5 w-5 rounded-[4px]"
                >
                  <i-lucide class="w-2" name="x"></i-lucide>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="abrirModalCadastroEdicaoVisita(null)"
      class="w-full bg-[#007AFF] text-[14px] text-white font-semibold rounded-[0.5rem] py-2.5 flex items-center justify-center gap-2"
    >
      Cadastrar visita
      <i-lucide class="w-4" name="plus"></i-lucide>
    </button>
  </div>
  <div
    *ngIf="!exibicaoListaVisitas"
    class="bg-white rounded-2xl shadow-md pb-5 pl-5 pr-5 border border-dashed border-gray-300 relative flex flex-col items-center"
  >
    <ng-lottie [options]="animacaoErro" class="w-30 h-30" />

    <div class="flex flex-col items-center gap-1">
      <p class="text-[12px] font-medium text-justify">
        Ops, nenhuma visita encontrada!
      </p>
      <p class="text-[10px] text-center">
        Selecione outros filtros e realize a consulta para tentar novamente.
      </p>
    </div>
  </div>
</div>
