<div class="flex flex-col gap-3.5 pb-3.5">
  <div
    class="bg-white rounded-2xl shadow-md p-5 border border-dashed border-gray-300 relative flex items-center gap-3.5 h-25 overflow-hidden"
  >
    <p class="text-[10px] text-justify">
      Olá, bem-vindo ao novo sistema do
      <strong>Evangelho Sem Fronteiras</strong>, para visualizar o dashboard,
      você precisa selecionar uma região.
    </p>
    <ng-lottie [options]="options" class="w-46 h-46" />
  </div>

  <form class="grid grid-cols-8 gap-3.5" [formGroup]="formRegiao">
    <app-input
      class="col-start-1 col-end-9"
      [tipo]="'select'"
      [label]="'Regiões'"
      [placeholder]="'Selecione'"
      [formController]="formRegiao.controls['regiao']"
      [opcoes]="regioes"
      mensagemErro="Campo obrigatório"
      (valorSelecionado)="selecionarRegiao($event)"
    ></app-input>
  </form>
  <div
    *ngIf="exibicaoCardEventoNaoEncontrado"
    class="bg-white rounded-2xl shadow-md pb-5 pl-5 pr-5 border border-dashed border-gray-300 relative flex flex-col items-center"
  >
    <ng-lottie [options]="animacaoErro" class="w-30 h-30" />

    <div class="flex flex-col items-center gap-1">
      <p class="text-[12px] font-medium text-justify">
        Ops, nenhum evento encontrado nesta região
      </p>
      <p class="text-[10px] text-center">
        Selecione uma região diferente ou crie um novo evento para visualizar o
        dashboard das informações gerenciais.
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-3.5" *ngIf="exibicaoDashboard">
    <div
      class="flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative"
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-between gap-1 w-full">
          <p class="font-bold text-[14px] flex items-center gap-2">
            <i-lucide name="calendar" class="w-4 text-gray-500"></i-lucide>
            Próximo evento
          </p>
          <div
            class="bg-cyan-200 flex items-center justify-center h-7 w-7 rounded-full"
          >
            <i-lucide class="w-3.5" name="check"></i-lucide>
          </div>
        </div>
      </div>
      <span class="h-0.5 bg-[#F6F6F6]"></span>
      <div class="flex flex-col gap-1.5 text-[10px]">
        <p class="flex justify-between">
          <span class="font-medium">Evento:</span>
          <span class="font-normal">{{ proximoEvento.nome }}</span>
        </p>
        <p class="flex justify-between">
          <span class="font-medium">Igreja:</span>
          <span class="font-normal">{{ proximoEvento.igreja }}</span>
        </p>
        <p class="flex justify-between">
          <span class="font-medium">Data:</span>
          <span class="font-normal">{{ proximoEvento.data }}</span>
        </p>
      </div>
    </div>
    <div
      class="flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative"
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-between gap-1 w-full">
          <p class="font-bold text-[14px] flex items-center gap-2">
            <i-lucide name="wallet" class="w-4 text-gray-500"></i-lucide>
            Arrecadação
          </p>
          <div
            class="bg-emerald-300 flex items-center justify-center h-7 w-7 rounded-full"
          >
            <i-lucide class="w-3.5" name="banknote"></i-lucide>
          </div>
        </div>
      </div>
      <span class="h-0.5 bg-[#F6F6F6]"></span>
      <div class="flex flex-col gap-4 text-[10px]">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <p class="flex flex-col justify-between">
              <span class="font-medium">Parcial:</span>
              <span class="font-normal text-[9px] text-gray-500"
                >Usuários do período da tarde</span
              >
            </p>
          </div>
          <p class="font-normal">
            {{ dadosDashboard.arrecadacao.valorArrecadadoParcial }}
          </p>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <p class="flex flex-col justify-between">
              <span class="font-medium">Integral:</span>
              <span class="font-normal text-[9px] text-gray-500"
                >Usuários do período integral</span
              >
            </p>
          </div>
          <p class="font-normal">
            {{ dadosDashboard.arrecadacao.valorArrecadadoIntegral }}
          </p>
        </div>
      </div>
      <span class="h-0.5 border-b-2 border-dashed border-[#F6F6F6]"></span>
      <div class="flex items-center justify-between text-[10px]">
        <div class="flex items-center gap-2">
          <p class="flex flex-col justify-between">
            <span class="font-medium">Total:</span>
            <span class="font-normal text-[9px] text-gray-500"
              >Somatório dos valores</span
            >
          </p>
        </div>
        <p class="font-semibold text-[18px]">
          {{ dadosDashboard.arrecadacao.total }}
        </p>
      </div>
    </div>
    <div
      class="flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative"
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-between gap-1 w-full">
          <p class="font-bold text-[14px] flex items-center gap-2">
            <i-lucide name="user" class="w-4 text-gray-500"></i-lucide>
            Inscrições
          </p>
          <div
            class="bg-[#F6F6F6] flex items-center justify-center h-7 w-7 rounded-full"
          >
            <i-lucide
              class="w-3.5 text-gray-500"
              name="chevron-right"
            ></i-lucide>
          </div>
        </div>
      </div>
      <span class="h-0.5 bg-[#F6F6F6]"></span>
      <div class="flex flex-col gap-4 text-[10px]">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <div class="flex flex-col justify-between">
              <div class="flex items-center gap-1.5">
                <div class="w-1.5 h-1.5 rounded-full bg-amber-400"></div>
                <p class="font-medium">Pendentes:</p>
                
              </div>
              <span class="font-normal text-[9px] text-gray-500"
                >Usuários que não pagaram</span
              >
            </div>
          </div>
          <p class="font-semibold text-[18px]">
            {{ dadosDashboard.inscritos.pendentes.quantidade }}
            <span class="text-[9px] text-gray-500"
              >({{ dadosDashboard.inscritos.pendentes.percentual }}%)</span
            >
          </p>
        </div>
        <div class="flex items-center justify-between">
             <div class="flex flex-col justify-between">
              <div class="flex items-center gap-1.5">
                <div class="w-1.5 h-1.5 rounded-full bg-indigo-400"></div>
                <p class="font-medium">Aguardando:</p>
                
              </div>
              <span class="font-normal text-[9px] text-gray-500"
                >Usuários sem aprovação</span
              >
            </div>
          <p class="font-semibold text-[18px]">
            {{ dadosDashboard.inscritos.aguardandoLiberacao.quantidade }}
            <span class="text-[9px] text-gray-500"
              >({{
                dadosDashboard.inscritos.aguardandoLiberacao.percentual
              }}%)</span
            >
          </p>
        </div>
        <div class="flex items-center justify-between">
             <div class="flex flex-col justify-between">
              <div class="flex items-center gap-1.5">
                <div class="w-1.5 h-1.5 rounded-full bg-emerald-400"></div>
                <p class="font-medium">Confirmadas:</p>
                
              </div>
              <span class="font-normal text-[9px] text-gray-500"
                >Usuários que pagaram</span
              >
            </div>
          <p class="font-semibold text-[18px]">
            {{ dadosDashboard.inscritos.confirmados.quantidade }}
            <span class="text-[9px] text-gray-500"
              >({{ dadosDashboard.inscritos.confirmados.percentual }}%)</span
            >
          </p>
        </div>
        <div class="flex items-center justify-between">
             <div class="flex flex-col justify-between">
              <div class="flex items-center gap-1.5">
                <div class="w-1.5 h-1.5 rounded-full bg-rose-500"></div>
                <p class="font-medium">Canceladas:</p>
                
              </div>
              <span class="font-normal text-[9px] text-gray-500"
                >Usuários que cancelaram</span
              >
            </div>
          <p class="font-semibold text-[18px]">
            {{ dadosDashboard.inscritos.cancelados.quantidade }}
            <span class="text-[9px] text-gray-500"
              >({{ dadosDashboard.inscritos.cancelados.percentual }}%)</span
            >
          </p>
        </div>
        <div class="flex items-center justify-between">
           <div class="flex flex-col justify-between">
              <div class="flex items-center gap-1.5">
                <div class="w-1.5 h-1.5 rounded-full bg-zinc-600"></div>
                <p class="font-medium">Reembolsadas:</p>
                
              </div>
              <span class="font-normal text-[9px] text-gray-500"
                >Usuários que reembolsaram</span
              >
            </div>
          <p class="font-semibold text-[18px]">
            {{ dadosDashboard.inscritos.reembolsoSolicitado.quantidade }}
            <span class="text-[9px] text-gray-500"
              >({{
                dadosDashboard.inscritos.reembolsoSolicitado.percentual
              }}%)</span
            >
          </p>
        </div>
      </div>
      <div class="h-1 w-full transition-all duration-300 rounded-full flex overflow-hidden">
        <div [style.width.%]="dadosDashboard.inscritos.pendentes.percentual" class=" h-1 bg-amber-400"></div>
        <div [style.width.%]="dadosDashboard.inscritos.aguardandoLiberacao.percentual" class=" h-1 bg-indigo-400"></div>
        <div [style.width.%]="dadosDashboard.inscritos.confirmados.percentual" class=" h-1 bg-emerald-400"></div>
        <div [style.width.%]="dadosDashboard.inscritos.cancelados.percentual" class=" h-1 bg-rose-500"></div>
        <div [style.width.%]="dadosDashboard.inscritos.reembolsoSolicitado.percentual" class=" h-1 bg-zinc-600"></div>
      </div>
    </div>
    <div class="flex gap-3.5 w-full">
      <div
        class="w-1/2 flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative"
      >
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-between gap-1 w-full">
            <p class="font-bold text-[14px] flex items-center gap-2">
              <i-lucide name="sun" class="w-4 text-gray-500"></i-lucide>
              Integral
            </p>
            <div
              class="bg-[#F6F6F6] flex items-center justify-center h-7 w-7 rounded-full"
            >
              <i-lucide
                class="w-3.5 text-gray-500"
                name="chevron-right"
              ></i-lucide>
            </div>
          </div>
        </div>
        <span class="h-0.5 bg-[#F6F6F6]"></span>
        <div class="flex flex-col gap-4 text-[10px]">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              <p class="flex flex-col justify-between">
                <span class="font-medium">Total:</span>
              </p>
            </div>
            <p class="font-semibold text-[18px]">
              {{dadosDashboard.inscritosPeriodo.quantidadeInscritosIntegral}} <span class="text-[9px] text-gray-500">/ 350</span>
            </p>
          </div>
        </div>
      </div>
      <div
        class="w-1/2 flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative"
      >
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-between gap-1 w-full">
            <p class="font-bold text-[14px] flex items-center gap-2">
              <i-lucide name="moon" class="w-4 text-gray-500"></i-lucide>
              Tarde
            </p>
            <div
              class="bg-[#F6F6F6] flex items-center justify-center h-7 w-7 rounded-full"
            >
              <i-lucide
                class="w-3.5 text-gray-500"
                name="chevron-right"
              ></i-lucide>
            </div>
          </div>
        </div>
        <span class="h-0.5 bg-[#F6F6F6]"></span>
        <div class="flex flex-col gap-4 text-[10px]">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              <p class="flex flex-col justify-between">
                <span class="font-medium">Total:</span>
              </p>
            </div>
            <p class="font-semibold text-[18px]">
              {{dadosDashboard.inscritosPeriodo.quantidadeInscritosTarde}} <span class="text-[9px] text-gray-500">/ 350</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative"
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-between gap-1 w-full">
          <p class="font-bold text-[14px] flex items-center gap-2">
            <i-lucide name="car" class="w-4 text-gray-500"></i-lucide>
            Visitas
          </p>
          <div
            class="bg-[#F6F6F6] flex items-center justify-center h-7 w-7 rounded-full"
          >
            <i-lucide
              class="w-3.5 text-gray-500"
              name="chevron-right"
            ></i-lucide>
          </div>
        </div>
      </div>
      <span class="h-0.5 bg-[#F6F6F6]"></span>
      <div class="flex flex-col gap-4 text-[10px]">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <p class="flex flex-col justify-between">
              <span class="font-medium">Disponíveis:</span>
              <span class="font-normal text-[9px] text-gray-500"
                >Pessoas para alocar</span
              >
            </p>
          </div>
          <p class="font-semibold text-[18px]">
            {{dadosDashboard.inscritosVisita.inscritosDisponiveisVisita}} <span class="text-[9px] text-gray-500">(pessoas)</span>
          </p>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <p class="flex flex-col justify-between">
              <span class="font-medium">Alocadas:</span>
              <span class="font-normal text-[9px] text-gray-500"
                >Pessoas já alocadas</span
              >
            </p>
          </div>
          <p class="font-semibold text-[18px]">
            {{dadosDashboard.inscritosVisita.inscritosAlocados}} <span class="text-[9px] text-gray-500">(pessoas)</span>
          </p>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <p class="flex flex-col justify-between">
              <span class="font-medium">Quantidade:</span>
              <span class="font-normal text-[9px] text-gray-500"
                >Quantidade de visitas</span
              >
            </p>
          </div>
          <p class="font-semibold text-[18px]">
            {{dadosDashboard.inscritosVisita.totalVisitas}} <span class="text-[9px] text-gray-500">(visitas)</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
