<div class="flex flex-col gap-3.5">
    <div class="flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-between gap-1 w-full">
          <p class="font-bold text-[14px] flex items-center gap-2">
            <i-lucide name="calendar" class="w-4 text-gray-500"></i-lucide>Próximo
            evento
          </p>
          <div
            class="bg-green-300 flex items-center justify-center h-7 w-7 rounded-full"
          >
            <i-lucide class="w-3.5" name="check"></i-lucide>
          </div>
        </div>
        <span class="text-[10px] text-[#222] opacity-70 underline"> </span>
      </div>
      <span class="h-0.5 bg-[#F6F6F6]"></span>
      <div class="flex flex-col gap-1.5 text-[10px]">
        <p class="flex justify-between">
          <span class="font-medium">Evento:</span>
          <span class="font-normal">Evangelho Sem Fronteiras - Teste</span>
        </p>
        <p class="flex justify-between">
          <span class="font-medium">Local:</span>
          <span class="font-normal">São Gonçalo</span>
        </p>
        <p class="flex justify-between">
          <span class="font-medium">Data:</span>
          <span class="font-normal">20/03/2025</span>
        </p>
      </div>
    </div>
    
    <div
      class="flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative"
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-between gap-1 w-full">
          <p class="font-bold text-[14px] flex items-center gap-2">
            <i-lucide name="user" class="w-4 text-gray-500"></i-lucide>
            Inscrições
          </p>
          <div
            class="bg-[#F6F6F6] flex items-center justify-center h-7 w-7 rounded-full"
          >
            <i-lucide class="w-3.5 text-gray-500" name="chevron-right"></i-lucide>
          </div>
        </div>
        <span class="text-[10px] text-[#222] opacity-70 underline"> </span>
      </div>
      <span class="h-0.5 bg-[#F6F6F6]"></span>
      <div class="flex flex-col gap-4 text-[10px]">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <!-- <div class="w-[10px] h-[10px] rounded-full bg-amber-200"></div> -->
            <div
              class="bg-[#F6F6F6] flex items-center justify-center h-7 w-7 rounded-full"
            >
              <span class="text-[12px]">!</span>
            </div>
            <p class="flex flex-col justify-between">
              <span class="font-medium">Pendentes:</span>
              <span class="font-normal text-[9px] text-gray-500"
                >Usuários que não pagaram</span
              >
            </p>
          </div>
          <p class="font-semibold text-[18px]">
            25 <span class="text-[9px] text-gray-500">(10%)</span>
          </p>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <div
              class="bg-[#F6F6F6] flex items-center justify-center h-7 w-7 rounded-full"
            >
              <i-lucide class="w-3.5" name="ellipsis"></i-lucide>
            </div>
            <p class="flex flex-col justify-between">
              <span class="font-medium">Aguardando:</span>
              <span class="font-normal text-[9px] text-gray-500"
                >Usuários sem aprovação</span
              >
            </p>
          </div>
          <p class="font-semibold text-[18px]">
            10 <span class="text-[9px] text-gray-500">(35%)</span>
          </p>
        </div>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <div
              class="bg-[#F6F6F6] flex items-center justify-center h-7 w-7 rounded-full"
            >
              <i-lucide class="w-3.5" name="check"></i-lucide>
            </div>
            <p class="flex flex-col justify-between">
              <span class="font-medium">Confirmados:</span>
              <span class="font-normal text-[9px] text-gray-500"
                >Usuários que pagaram</span
              >
            </p>
          </div>
          <p class="font-semibold text-[18px]">
            43 <span class="text-[9px] text-gray-500">(55%)</span>
          </p>
        </div>
      </div>
      <div class="h-1 w-full rounded-full flex">
        <div class="w-1/3 h-1 bg-amber-200"></div>
        <div class="w-1/3 h-1 bg-indigo-300"></div>
        <div class="w-1/3 h-1 bg-green-300"></div>
      </div>
    </div>
    
    <div class="flex gap-3.5 w-full">
      <div
        class="w-1/2 flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative"
      >
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-between gap-1 w-full">
            <p class="font-bold text-[14px] flex items-center gap-2">
              <i-lucide name="sun" class="w-4 text-gray-500"></i-lucide>
              Integral
            </p>
            <div
              class="bg-[#F6F6F6] flex items-center justify-center h-7 w-7 rounded-full"
            >
              <i-lucide class="w-3.5 text-gray-500" name="chevron-right"></i-lucide>
            </div>
          </div>
          <span class="text-[10px] text-[#222] opacity-70 underline"> </span>
        </div>
        <span class="h-0.5 bg-[#F6F6F6]"></span>
        <div class="flex flex-col gap-4 text-[10px]">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              <p class="flex flex-col justify-between">
                <span class="font-medium">Total:</span>
              </p>
            </div>
            <p class="font-semibold text-[18px]">
              257 <span class="text-[9px] text-gray-500">/ 350</span>
            </p>
          </div>
        </div>
      </div>
      <div
        class="w-1/2 flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative"
      >
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-between gap-1 w-full">
            <p class="font-bold text-[14px] flex items-center gap-2">
              <i-lucide name="moon" class="w-4 text-gray-500"></i-lucide>
              Tarde
            </p>
            <div
              class="bg-[#F6F6F6] flex items-center justify-center h-7 w-7 rounded-full"
            >
              <i-lucide class="w-3.5 text-gray-500" name="chevron-right"></i-lucide>
            </div>
          </div>
          <span class="text-[10px] text-[#222] opacity-70 underline"> </span>
        </div>
        <span class="h-0.5 bg-[#F6F6F6]"></span>
        <div class="flex flex-col gap-4 text-[10px]">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
              <p class="flex flex-col justify-between">
                <span class="font-medium">Total:</span>
              </p>
            </div>
            <p class="font-semibold text-[18px]">
              167 <span class="text-[9px] text-gray-500">/ 350</span>
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
