<div class="flex flex-col gap-2.5 pb-2.5">
  <div class="flex pb-4 flex-col gap-2">
    <div class="flex items-center gap-2">
      <div
        class="bg-zinc-800 flex items-center justify-center py-1 px-2.5 rounded-[8px]"
      >
        <i-lucide class="w-3.5 text-white" name="badge-check"></i-lucide>
      </div>
      <p class="text-2xl sm:text-[28px] font-semibold">Confirmação</p>
    </div>
    <p class="text-[12px] sm:text-[14px]">
      Confirme os dados abaixo antes de prosseguir com a inscrição.
    </p>
  </div>
  <!-- Dados Pessoais -->
  <div
    class="flex flex-col gap-3.5 bg-white rounded-[18px] shadow-lg p-6 relative"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <div
          class="bg-[#F6F6F6] flex items-center justify-center py-1 px-2.5 rounded-[8px]"
        >
          <i-lucide class="w-3.5" name="user"></i-lucide>
        </div>
        <p class="font-bold text-[12px] sm:text-[14px]">Dados Pessoais</p>
      </div>
      <span class="text-[10px] sm:text-[12px] text-[#222] opacity-70 underline">
        <i-lucide class="w-3" name="pencil"></i-lucide>
      </span>
    </div>
    <span class="h-0.5 bg-[#F6F6F6]"></span>
    <div class="flex flex-col gap-1.5 text-[10px] sm:text-[12px]">
      <p class="flex justify-between">
        <span class="font-medium">Nome:</span>
        {{ resumoInscricao.usuario.nome }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">CPF:</span> {{ resumoInscricao.usuario.cpf }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Email:</span>
        {{ resumoInscricao.usuario.email || "Não informado" }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Telefone:</span>
        {{ resumoInscricao.usuario.telefone }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Nascimento:</span>
        {{ resumoInscricao.usuario.dataNascimento | date : "dd/MM/yyyy" }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">PCD:</span> {{ resumoInscricao.usuario.pcd == '' ? 'Não possui' : resumoInscricao.usuario.pcd }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Possui dons?</span>
        {{ resumoInscricao.usuario.dons || 'Não possui' }}
      </p>
      <p
        class="flex justify-between"
        *ngIf="resumoInscricao.igrejaExiste.nome != ''"
      >
        <span class="font-medium">Igreja:</span>
        {{ resumoInscricao.igrejaExiste.nome }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Classe:</span>
        {{ resumoInscricao.igrejaExiste.classe }}
      </p>
    </div>

    <div class="h-0.5 bg-[#F6F6F6] w-full"></div>
    <div class="flex flex-col gap-1.5 text-[10px] sm:text-[12px] pb-3 border-b border-dashed border-gray-300" *ngIf="resumoInscricao.usuario.instrumentos.length > 0">
       <div class="flex flex-col gap-2">
        <p class="font-medium">Instrumentos:</p>
        <span *ngFor="let instrumento of resumoInscricao.usuario.instrumentos"> {{ instrumento }} </span>
      </div>
    </div>
    <div class="flex flex-col gap-1.5 text-[10px] sm:text-[12px] pb-3 border-b border-dashed border-gray-300" *ngIf=" resumoInscricao.usuario.condicaoMedica.length > 0">
      <div class="flex flex-col gap-2">
        <p class="font-medium">Condições Médicas:</p>
        <span *ngFor="let condicao of resumoInscricao.usuario.condicaoMedica"> {{ condicao }} </span>
      </div>
    </div>
    <div class="flex flex-col gap-1.5 text-[10px] sm:text-[12px] pb-3" *ngIf=" resumoInscricao.usuario.funcoesIgreja.length > 0">
       <div class="flex flex-col gap-2">
        <p class="font-medium">Funções na igreja:</p>
        <span *ngFor="let funcao of resumoInscricao.usuario.funcoesIgreja"> {{ funcao }} </span>
      </div>
    </div>
  </div>

  <!-- Informações do Evento -->
  <div class="flex flex-col gap-3.5 bg-white rounded-[18px] shadow-lg p-6 relative">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <div
          class="bg-[#F6F6F6] flex items-center justify-center py-1 px-2.5 rounded-[8px]"
        >
          <i-lucide class="w-3.5" name="ticket"></i-lucide>
        </div>
        <p class="font-bold text-[12px] sm:text-[14px]">Evento</p>
      </div>
      <span class="text-[10px] sm:text-[12px] text-[#222] opacity-70 underline">
        <i-lucide class="w-3" name="pencil"></i-lucide>
      </span>
    </div>
    <span class="h-0.5 bg-[#F6F6F6]"></span>
    <div class="flex flex-col gap-1.5 text-[10px] sm:text-[12px]">
      <p class="flex justify-between">
        <span class="font-medium">Período:</span>
        {{ resumoInscricao.evento.periodo }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Função:</span>
        {{ resumoInscricao.evento.funcao }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Evento:</span>
        {{ resumoInscricao.evento.nome }}
      </p>
    </div>
  </div>

  <div class="flex gap-2.5">
    <!-- Informações sobre Visita -->
    <div
      class="flex flex-1/2 flex-col gap-3.5 bg-white rounded-[18px] shadow-lg p-6 relative"
    >
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
          <div
            class="bg-[#F6F6F6] flex items-center justify-center py-1 px-2.5 rounded-[8px]"
          >
            <i-lucide class="w-3.5" name="car"></i-lucide>
          </div>
          <p class="font-bold text-[12px] sm:text-[14px]">Visita</p>
        </div>
        <span class="text-[10px] sm:text-[12px] text-[#222] opacity-70 underline">
          <i-lucide class="w-3" name="pencil"></i-lucide>
        </span>
      </div>
      <span class="h-0.5 bg-[#F6F6F6]"></span>
      <div class="flex flex-col gap-1.5 text-[10px] sm:text-[12px]">
        <p class="flex justify-between">
          <span class="font-medium">Vai visitar?</span>
          {{ resumoInscricao.visita.visita }}
        </p>
        <p class="flex justify-between">
          <span class="font-medium">Vagas no carro:</span>
          {{ resumoInscricao.visita.vagas }}
        </p>
        <p class="flex justify-between">
          <span class="font-medium">Possui carro?</span>
          {{ resumoInscricao.visita.carro }}
        </p>
      </div>
    </div>
    <!-- Informações da Igreja -->
    <div class="flex flex-1/2 flex-col gap-3.5 bg-white rounded-[18px] shadow-lg p-6 relative" *ngIf="!verificarIgrejaNova()">
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-2">
          <div
            class="bg-[#F6F6F6] flex items-center justify-center py-1 px-2.5 rounded-[8px]"
          >
            <i-lucide class="w-3.5" name="church"></i-lucide>
          </div>
          <p class="font-bold text-[12px] sm:text-[14px]">Igreja</p>
        </div>
        <span class="text-[10px] sm:text-[12px] text-[#222] opacity-70 underline">
          <i-lucide class="w-3" name="pencil"></i-lucide>
        </span>
      </div>
      <span class="h-0.5 bg-[#F6F6F6]"></span>
      <div class="flex flex-col gap-1.5 text-[10px] sm:text-[12px]">
        <p class="flex justify-between">
          <span class="font-medium">Nome:</span>
          {{ resumoInscricao.igrejaNova.nome }}
        </p>
        <p class="flex justify-between">
          <span class="font-medium">Pastor:</span>
          {{ resumoInscricao.igrejaNova.pastor }}
        </p>
        <p class="flex justify-between">
          <span class="font-medium">Região:</span>
          {{ resumoInscricao.igrejaNova.regiao }}
        </p>
      </div>
    </div>
  </div>

  <!-- Inscrição de Menores (caso exista) -->
  <div
    *ngIf="!verificarInscricaoMenor()"
    class="flex flex-col gap-3.5 bg-white rounded-[18px] shadow-lg p-6 relative"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2">
        <div
          class="bg-[#F6F6F6] flex items-center justify-center py-1 px-2.5 rounded-[8px]"
        >
          <i-lucide class="w-3.5" name="baby"></i-lucide>
        </div>
        <p class="font-bold text-[12px] sm:text-[14px]">Inscrição de Menor</p>
      </div>
      <span class="text-[10px] sm:text-[12px] text-[#222] opacity-70 underline">
        <i-lucide class="w-3" name="pencil"></i-lucide>
      </span>
    </div>
    <span class="h-0.5 bg-[#F6F6F6]"></span>
    <div
      *ngFor="let menor of resumoInscricao.inscricaoMenor; let last = last"
      [ngClass]="{ 'border-b border-dashed border-gray-300': !last }"
      class="flex flex-col gap-1.5 text-[10px] sm:text-[12px] pb-3"
    >
      <p class="flex justify-between">
        <span class="font-medium">Nome:</span> {{ menor.nome }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Idade:</span> {{ menor.idade }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Condição Médica:</span>
        {{ menor.condicaoMedica || 'Não possui' }}
      </p>
    </div>
  </div>
  <div class="flex flex-col gap-1.5">
    <button
      (click)="inserirInscricao()"
      class="bg-[#007AFF] text-[14px] text-white font-semibold rounded-[0.5rem] py-2.5 flex items-center justify-center gap-2"
    >
      Concluir
      <i-lucide class="w-4" name="check-check"></i-lucide>
    </button>
  </div>
</div>
