<div class="flex flex-col gap-3.5" *ngIf="exibicaoListaParticipantes">
  <div class="flex flex-col gap-3 bg-white rounded-[18px] shadow-lg p-5 relative">
    <div class="overflow-x-auto">
      <div class="min-w-max flex flex-col gap-4 text-[10px] mb-4">
        <div class="flex items-center justify-between" *ngFor="let participante of inscricoesPendentes?.itens; let i = index">
          <div class="flex gap-3.5 items-center w-full">
            <input type="checkbox" class="w-3 h-3" />
            <div class="flex items-center justify-between w-full">
              <div class="flex gap-3.5 items-center">
                <div class="flex items-center gap-2 w-[100px]">
                  <p class="flex flex-col justify-between">
                    <span
                      class="font-medium flex items-center justify-start gap-1"
                    >
                      {{participante.nome | nomeAbreviado}}
                      <i-lucide name="info" class="w-2.5 h-[15px]"></i-lucide>
                    </span>
                    <span class="font-normal text-[9px] text-gray-500"
                      > {{participante.idade}}</span
                    >
                  </p>
                </div>

                <div class="h-4 w-[1px] bg-gray-300"></div>

                <div class="flex items-center gap-2 w-[70px]">
                  <p class="flex flex-col justify-between">
                    <span class="font-medium">Período</span>
                    <span class="font-normal text-[9px] text-gray-500"
                      > {{participante.periodo}}</span
                    >
                  </p>
                </div>

                <div class="h-4 w-[1px] bg-gray-300"></div>

                <div class="flex items-center gap-2">
                  <p class="flex flex-col justify-between">
                    <span class="font-medium">Função no Evento</span>
                    <span class="font-normal text-[9px] text-gray-500"
                      > {{participante.funcaoEvento | nomeFormatado}}</span
                    >
                  </p>
                </div>

                <div class="h-4 w-[1px] bg-gray-300"></div>

                <div class="flex items-center gap-2">
                  <p class="flex flex-col justify-between">
                    <span class="font-medium">Status</span>
                    <span class="font-normal text-[9px] text-gray-500"
                      > {{participante?.usuarioBloqueado?.usuarioBloqueado ? 'Bloqueado' : '----'}}</span
                    >
                  </p>
                </div>

                <div class="h-4 w-[1px] bg-gray-300"></div>

                <div class="flex items-center gap-2">
                  <p class="flex flex-col justify-between">
                    <span class="font-medium">Motivo do Bloqueio</span>
                    <span class="font-normal text-[9px] text-gray-500"
                      > {{participante?.usuarioBloqueado?.motivoBloqueio ? participante.usuarioBloqueado.motivoBloqueio : '----'}}</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="flex w-full items-center gap-2.5">
      <button
        (click)="aprovarInscricao()"
        [disabled]="!liberacaoBotaoAprovar"
        [ngClass]="{ 'opacity-50 cursor-not-allowed': !liberacaoBotaoAprovar }"
        class="w-full bg-[#007AFF] text-[14px] text-white font-semibold rounded-[0.5rem] py-2.5 flex items-center justify-center gap-2"
      >
        Aprovar
        <i-lucide class="w-4" name="check-check"></i-lucide>
      </button>     
    </div>
</div>

<div *ngIf="!exibicaoListaParticipantes"
    class="bg-white rounded-2xl shadow-md pb-5 pl-5 pr-5 border border-dashed border-gray-300 relative flex flex-col items-center">
  <ng-lottie [options]="animacaoErro" class="w-30 h-30" />

  <div class="flex flex-col items-center gap-1">
    <p class="text-[12px] font-medium text-justify">
      Ops, nenhum participante encontrado!
    </p>
    <p class="text-[10px] text-center">
      Selecione outros filtros e realize a consulta para tentar novamente.
    </p>
  </div>
</div>
