<div class="flex items-center gap-3">
  <div class="flex items-center justify-center">
    <ng-container [ngSwitch]="data.tipo">
      <lucide-icon *ngSwitchCase="'success'" name="CircleCheck" class="text-emerald-500 w-5.5"></lucide-icon>
      <lucide-icon *ngSwitchCase="'warning'" name="CircleAlert" class="text-yellow-500 w-5.5"></lucide-icon>
      <lucide-icon *ngSwitchCase="'error'" name="CircleX" class="text-rose-500 w-5.5"></lucide-icon>
      <lucide-icon *ngSwitchDefault name="info" class="text-cyan-600 w-5.5"></lucide-icon>
    </ng-container>
  </div>

  <div class="flex flex-col text-zinc-800">
    <span class="font-semibold text-size-base ">{{ data.titulo }}</span>
    <span class="text-size-xs">{{ data.mensagem }}</span>
  </div>
</div>
