<div class="flex flex-col gap-2.5">
    <div class="flex flex-col gap-2">
    <div class="flex items-center gap-2">
      <div
        class="bg-zinc-800 flex items-center justify-center py-1 px-2.5 rounded-[8px]"
      >
        <i-lucide class="w-3.5 text-white" name="ticket"></i-lucide>
      </div>
      <p class="text-2xl sm:text-[28px] font-semibold">Dados evento</p>
    </div>
    <p class="text-[12px] sm:text-[14px]">
      Preencha os dados abaixo para continuar o cadastro
    </p>
  </div>
  <form class="pb-7 pt-4" [formGroup]="formDadosEvento">
    <div class="grid grid-cols-8 gap-3.5">
      <app-input
        class="col-start-1 col-end-5"
        [tipo]="'select'"
        [label]="'Período'"
        [placeholder]="'Selecione'"
        [formController]="formDadosEvento.controls['periodo']"
        [opcoes]="periodos"
        [obrigatorio]="true"
        mensagemErro="Campo obrigatório"
        (valorSelecionado)="exibirVisita($event)"
      ></app-input>
      <app-input
        class="col-start-5 col-end-9"
        [tipo]="'select'"
        [label]="'Função evento'"
        [placeholder]="'Selecione'"
        [formController]="formDadosEvento.controls['funcaoEvento']"
        [opcoes]="opcoesFuncaoEvento"
        [obrigatorio]="true"
        mensagemErro="Campo obrigatório"
      ></app-input>

      <app-input *ngIf="exibeVisita"
        class="col-start-1 col-end-9"
        [tipo]="'select'"
        [label]="'Está disponível para visitas?'"
        [placeholder]="'Selecione'"
        [formController]="formDadosEvento.controls['visitas']"
        [opcoes]="opcoesBooleanas"
        [obrigatorio]="true"
        mensagemErro="Campo obrigatório"
        (valorSelecionado)="exibirCamposVisita($event)"
      ></app-input>
      <app-input
        *ngIf="exibeInfoVisita"
        class="col-start-1 col-end-5"
        [tipo]="'select'"
        [label]="'Possui Carro?'"
        [placeholder]="'Selecione'"
        [formController]="formDadosEvento.controls['carro']"
        [opcoes]="opcoesBooleanas"
        mensagemErro="Campo obrigatório"
      ></app-input>
      <app-input
        *ngIf="exibeInfoVisita"
        class="col-start-5 col-end-9"
        [tipo]="'number'"
        [label]="'Quantas vagas estão disponíveis?'"
        [placeholder]="'Informe'"
        [formController]="formDadosEvento.controls['quantidadeVagas']"
        mensagemErro="Campo obrigatório"
      ></app-input>
    </div>
  </form>

  <div class="flex flex-col gap-1.5">
    <button
      (click)="prosseguir()"
      [disabled]="!formDadosEvento.valid"
      [ngClass]="{ 'opacity-60': !formDadosEvento.valid }"
      class="bg-[#007AFF] text-[14px] text-white font-semibold rounded-[0.5rem] py-2.5 flex items-center justify-center gap-2"
    >
      Prosseguir
      <i-lucide class="w-4" name="move-right"></i-lucide>
    </button>
    <button
      (click)="voltar()"
      class="border-2 text-[14px] border-[#007AFF] bg-white text-[#007AFF] font-semibold rounded-[0.5rem] py-2.5"
    >
      Voltar
    </button>
  </div>
</div>
