<div class="flex flex-col gap-2.5">
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-2">
      <div
        class="bg-zinc-800 flex items-center justify-center py-1 px-2.5 rounded-custom-sm"
      >
        <i-lucide class="w-3.5 text-white" name="circle-plus"></i-lucide>
      </div>
      <p class="text-2xl sm:text-size-3xl font-semibold">Dados adicionais</p>
    </div>
    <p class="text-size-base sm:text-size-md">
      Preencha os dados abaixo para continuar o cadastro
    </p>
  </div>
  <form class="pb-7 pt-4" [formGroup]="formDadosAdicionais">
    <div class="grid grid-cols-8 gap-3.5">
      <div class="col-start-1 col-end-9">
        <app-input
          class="w-full"
          [tipo]="'select'"
          [label]="'Igreja'"
          [placeholder]="'Selecione'"
          [formController]="formDadosAdicionais.controls['igreja']"
          [opcoes]="igrejas"
          [formSubmetido]="formSubmetido"
          mensagemErro="Campo obrigatório"
          (valorSelecionado)="limparCamposNovaIgreja($event)"
        ></app-input>
        <button
          (click)="exibirCamposIgrejaNova()"
          class="text-size-xs text-[#007AFF] font-medium"
        >
          Não possuo igreja na lista informada
        </button>
      </div>
      <app-input
        *ngIf="exibeCamposNovaIgreja"
        class="col-start-1 col-end-5"
        [tipo]="'select'"
        [label]="'Regiões'"
        [placeholder]="'Selecione'"
        [formController]="formDadosAdicionais.controls['idRegiaoIgrejaNova']"
        [opcoes]="regioes"
        mensagemErro="Campo obrigatório"
      ></app-input>
      <app-input
        *ngIf="exibeCamposNovaIgreja"
        class="col-start-5 col-end-9"
        [(formController)]="formDadosAdicionais.controls['nomeIgrejaNova']"
        [placeholder]="'Nome da igreja'"
        [id]="'nomeIgreja'"
        [name]="'nomeIgreja'"
        [tipo]="'text'"
        [formSubmetido]="formSubmetido"
        [label]="'Nome da igreja'"
        [contemIcone]="true"
      ></app-input>
      <app-input
        *ngIf="exibeCamposNovaIgreja"
        class="col-start-1 col-end-9"
        [(formController)]="formDadosAdicionais.controls['pastorIgrejaNova']"
        [placeholder]="'Nome do pastor'"
        [id]="'pastor'"
        [name]="'pastor'"
        [tipo]="'text'"
        [formSubmetido]="formSubmetido"
        [label]="'Nome do pastor'"
        [contemIcone]="true"
      ></app-input>
      <div class="col-start-1 col-end-9 flex flex-col gap-2 mt-7">
        <div
          class="flex items-center justify-between gap-3.5 text-size-xs font-medium"
        >
          <p>Caso tenha um menor de idade, adicione os dados:</p>

          <app-custom-button
            (aoClicar)="adicionarInscricaoMenor()"
            icone="plus"
            variante="icone"
            tamanhoIcone="w-3"
          ></app-custom-button>
        </div>
        <div
          *ngFor="let menorCtrl of menores; let i = index"
          class="grid grid-cols-8 gap-3.5 bg-white rounded-2xl shadow-lg p-6 relative"
        >
          <app-input
            class="col-start-1 col-end-5"
            [tipo]="'number'"
            [label]="'Idade'"
            [placeholder]="'Idade'"
            [formController]="getFormControl(menorCtrl, 'idade')"
            mensagemErro="Campo obrigatório"
            [formSubmetido]="formSubmetido"
            (aoDigitar)="verificarIdade($event, i)"
            [mask]="'0'"
          ></app-input>
          <app-input
            class="col-start-5 col-end-9"
            [tipo]="'text'"
            [label]="'Nome'"
            [placeholder]="'Nome'"
            [formController]="getFormControl(menorCtrl, 'nome')"
            mensagemErro="Campo obrigatório"
            [formSubmetido]="formSubmetido"
          ></app-input>
          <div class="col-start-1 col-end-9">
            <div class="flex items-center justify-center gap-3.5">
              <app-input
                class="w-full"
                [tipo]="'select'"
                [label]="'Condição médica'"
                [placeholder]="'Condição médica'"
                [formController]="getFormControl(menorCtrl, 'idCondicaoMedica')"
                [opcoes]="opcoesCondicoes"
                mensagemErro="Campo obrigatório"
                [formSubmetido]="formSubmetido"
              ></app-input>
              <button
                type="button"
                class="font-bold pt-5"
                (click)="removerInscricaoMenor(i)"
                *ngIf="menores.length > 1"
              >
                <i-lucide class="w-4" name="trash-2"></i-lucide>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="flex flex-col gap-1.5">
    <app-custom-button
      texto="Prosseguir"
      icone="move-right"
      variante="primario"
      [disabled]="!formDadosAdicionais.valid"
      (aoClicar)="prosseguir()"
    ></app-custom-button>
    <app-custom-button
      texto="Voltar"
      variante="secundario"
      (aoClicar)="voltar()"
    ></app-custom-button>
  </div>
</div>
