<div class="flex items-center justify-between mb-3.5">
  <div class="flex items-center gap-2">
    <ng-lottie [options]="options" class="w-12 h-12" />

    <p class="flex flex-col justify-between">
      <span class="font-normal text-size-2xs sm:text-size-sm text-gray-500">Olá, bem-vindo</span>
      <span class="font-medium text-size-base sm:text-size-md">{{ usuarioLogado.nome | nomeFormatado }}</span>
    </p>
  </div>
  <div class="flex items-center space-x-4">
    <button (click)="openSidebar()">
      <i-lucide name="menu" class="w-6"></i-lucide>
    </button>
  </div>
</div>
