<div class="relative h-screen flex flex-col px-4 py-8">
  <app-header (toggleMenu)="toggleSidebar()"></app-header>
  <router-outlet></router-outlet>

  <div
    class="fixed inset-y-0 right-0 w-64 bg-white shadow-lg z-50 transform transition-transform duration-300 ease-in-out"
    [class.translate-x-full]="!isSidebarOpen"
    [class.translate-x-0]="isSidebarOpen"
  >
    <div class="flex items-center justify-between p-4 border-b">
      <h2 class="text-lg font-semibold">Menu</h2>
      <button (click)="toggleSidebar()">
        <svg
          class="w-5 h-5 text-gray-500"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <nav class="flex flex-col p-4 gap-4 text-gray-700">
      <a class="flex items-center gap-2" (click)="navegarDashboard()" *ngIf="usuarioLogado.role <= 3"><i-lucide name="circle-gauge" class="w-4 text-gray-500"></i-lucide> Dashboard</a>
      <a class="flex items-center gap-2" (click)="navegarGestaoInscricao()" *ngIf="usuarioLogado.role <= 4"><i-lucide name="calendar-check" class="w-4 text-gray-500"></i-lucide> Inscrições</a>
      <a class="flex items-center gap-2" (click)="navegarPagamento()" *ngIf="usuarioLogado.role <= 3"><i-lucide name="receipt" class="w-4 text-gray-500"></i-lucide> Pagamento</a>
      <a class="flex items-center gap-2" (click)="navegarVisita()" *ngIf="usuarioLogado.role <= 4"><i-lucide name="users-round" class="w-4 text-gray-500"></i-lucide> Visitas</a>
      <a class="flex items-center gap-2" (click)="navegarCheckin()" *ngIf="usuarioLogado.role <= 5"><i-lucide name="list-checks" class="w-4 text-gray-500"></i-lucide> Check-in</a>
      <a class="flex items-center gap-2" (click)="navegarRelatorios()" *ngIf="usuarioLogado.role <= 3"><i-lucide name="file-chart-column-increasing" class="w-4 text-gray-500"></i-lucide> Relatórios</a>
      <a class="flex items-center gap-2" (click)="navegarCheckin()" *ngIf="usuarioLogado.role <= 3"><i-lucide name="circle-user-round" class="w-4 text-gray-500"></i-lucide> Controle de usuários</a>
    </nav>

  </div>
  <div
    class="fixed inset-0 bg-zinc-900/20 bg-opacity-40 z-40"
    *ngIf="isSidebarOpen"
    (click)="toggleSidebar()"
  ></div>

</div>