<div class="flex flex-col gap-2.5">
  <form class="grid grid-cols-8 gap-3.5 py-7" [formGroup]="formDadosIgreja">
    <app-input
      class="col-start-1 col-end-9"
      [(formController)]="formDadosIgreja.controls['deficiencia']"
      [placeholder]="'Informe a deficiência'"
      [id]="'deficiencia'"
      [name]="'deficiencia'"
      [tipo]="'text'"
      [formSubmetido]="formSubmetido"
      [label]="'Possui alguma deficiência?'"
      [contemIcone]="true"
    ></app-input>
    <app-input
      class="col-start-1 col-end-5"
      [tipo]="'select'"
      [label]="'Classe'"
      [placeholder]="'Selecione'"
      [formController]="formDadosIgreja.controls['classe']"
      [opcoes]="classes"
      [formSubmetido]="formSubmetido"
      mensagemErro="Campo obrigatório"
    ></app-input>

    <app-input
      class="col-start-5 col-end-9"
      [tipo]="'select'"
      [label]="'Igreja'"
      [placeholder]="'Selecione'"
      [formController]="formDadosIgreja.controls['igreja']"
      [opcoes]="igrejas"
      [formSubmetido]="formSubmetido"
      mensagemErro="Campo obrigatório"
    ></app-input>
  </form>
  <div
  class="grid grid-cols-8 gap-3.5"
  *ngFor="let instrumentoCtrl of instrumentos; let i = index"
>
  <app-input
    class="col-start-1 col-end-7"
    [tipo]="'select'"
    [label]="'Instrumento ' + (i + 1)"
    [placeholder]="'Selecione'"
    [formController]="instrumentoCtrl"
    [opcoes]="opcoesInstrumentos"
    [formSubmetido]="formSubmetido"
    mensagemErro="Campo obrigatório"
  ></app-input>

  <button
    type="button"
    class="col-start-7 col-end-9 text-red-600 font-bold"
    (click)="removerInstrumento(i)"
    *ngIf="instrumentos.length > 1"
  >
    <i-lucide name="trash-2"></i-lucide>
  </button>
</div>

<!-- Botão de adicionar -->
<button
  type="button"
  class="bg-green-600 text-white py-2 rounded font-semibold mt-2 w-fit px-4"
  (click)="adicionarInstrumento()"
>
  + Adicionar Instrumento
</button>

  <div class="flex flex-col gap-1.5">
    <button
      (click)="prosseguir()"
      class="bg-[#007AFF] text-white font-semibold rounded-[0.5rem] py-2.5"
    >
      Prosseguir
    </button>
    <button
      (click)="voltar()"
      class="border-2 border-[#007AFF] bg-white text-[#007AFF] font-semibold rounded-[0.5rem] py-2.5"
    >
      Voltar
    </button>
  </div>
</div>
