<div class="flex flex-col gap-2.5">
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-2">
      <div
        class="bg-zinc-800 flex items-center justify-center py-1 px-2.5 rounded-custom-sm"
      >
        <i-lucide class="w-3.5 text-white" name="church"></i-lucide>
      </div>
      <p class="text-2xl sm:text-size-3xl font-semibold">Dados igreja</p>
    </div>
    <p class="text-size-base sm:text-size-md">
      Preencha os dados abaixo para continuar o cadastro
    </p>
  </div>
  <form class="pb-7 pt-4" [formGroup]="formDadosIgreja">
    <div class="grid grid-cols-8 gap-3.5">
      <app-input
        class="col-start-1 col-end-9"
        [(formController)]="formDadosIgreja.controls['pcd']"
        [placeholder]="'Informe a deficiência'"
        [id]="'pcd'"
        [name]="'pcd'"
        [tipo]="'text'"
        [formSubmetido]="formSubmetido"
        [label]="'Possui alguma deficiência?'"
        [contemIcone]="true"
      ></app-input>
      <app-input
        class="col-start-1 col-end-5"
        [tipo]="'select'"
        [label]="'Classe'"
        [placeholder]="'Selecione'"
        [formController]="formDadosIgreja.controls['classe']"
        [opcoes]="classes"
        [obrigatorio]="true"
        [formSubmetido]="formSubmetido"
        mensagemErro="Campo obrigatório"
      ></app-input>
      <app-input
        class="col-start-5 col-end-9"
        [tipo]="'select'"
        [label]="'Possui dons?'"
        [placeholder]="'Selecione'"
        [formController]="formDadosIgreja.controls['dons']"
        [opcoes]="opcoesBooleanas"
        [obrigatorio]="true"
        [formSubmetido]="formSubmetido"
        mensagemErro="Campo obrigatório"
      ></app-input>
    </div>

    <div class="flex flex-col gap-2 mt-9">
      <div
        class="flex items-center justify-between gap-3.5 text-size-xs font-medium"
      >
        <p>Adicione um instrumento</p>
        <app-custom-button
          (aoClicar)="adicionarInstrumento()"
          icone="plus"
          variante="icone"
          tamanhoIcone="w-3"
        ></app-custom-button>
      </div>
      <div
        *ngFor="let instrumentoCtrl of instrumentos; let i = index"
        class="flex items-center justify-between gap-3.5"
      >
        <app-input
          class="w-full"
          [tipo]="'select'"
          [placeholder]="'Selecione'"
          [formController]="instrumentoCtrl"
          [opcoes]="opcoesInstrumentos"
          [formSubmetido]="formSubmetido"
        ></app-input>
        <button
          type="button"
          class="font-bold"
          (click)="removerInstrumento(i)"
          *ngIf="instrumentos.length > 1"
        >
          <i-lucide class="w-4" name="trash-2"></i-lucide>
        </button>
      </div>
    </div>
  </form>

  <div class="flex flex-col gap-1.5">
    <app-custom-button
      texto="Prosseguir"
      icone="move-right"
      variante="primario"
      [disabled]="!formDadosIgreja.valid"
      (aoClicar)="prosseguir()"
    ></app-custom-button>
    <app-custom-button
      texto="Voltar"
      variante="secundario"
      (aoClicar)="voltar()"
    ></app-custom-button>
  </div>
</div>
