<div class="flex flex-col gap-2.5">
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-2">
      <div
        class="bg-zinc-800 flex items-center justify-center py-1 px-2.5 rounded-custom-sm"
      >
        <i-lucide class="w-3.5 text-white" name="list-check"></i-lucide>
      </div>
      <p class="text-2xl sm:text-size-3xl font-semibold">Dados pessoais</p>
    </div>
    <p class="text-size-base sm:text-size-md">
      Preencha os campos abaixo com seus dados pessoais.
    </p>
  </div>
  <form class="pt-4 pb-7" [formGroup]="formDadosPessoais">
    <div class="grid grid-cols-8 gap-3.5">
      <app-input
        class="col-start-1 col-end-9"
        [(formController)]="formDadosPessoais.controls['nomeCompleto']"
        [placeholder]="'Nome Completo'"
        [id]="'nomeCompleto'"
        [name]="'nomeCompleto'"
        [tipo]="'text'"
        [formSubmetido]="formSubmetido"
        [label]="'Nome Completo'"
        [obrigatorio]="true"
        [contemIcone]="true"
      ></app-input>
      <app-input
        class="col-start-1 col-end-4"
        [(formController)]="formDadosPessoais.controls['cpf']"
        [placeholder]="'CPF'"
        [id]="'cpf'"
        [name]="'cpf'"
        [tipo]="'text'"
        [formSubmetido]="formSubmetido"
        [label]="'CPF'"
        [contemIcone]="true"
        [obrigatorio]="true"
        [mask]="'000.000.000-00'"
      ></app-input>
      <app-input
        class="col-start-4 col-end-9"
        [(formController)]="formDadosPessoais.controls['nascimento']"
        [placeholder]="'dd/mm/aaaa'"
        [id]="'nascimento'"
        [name]="'nascimento'"
        [formSubmetido]="formSubmetido"
        [label]="'Data de nascimento'"
        [obrigatorio]="true"
        [contemIcone]="true"
        [mask]="'00/00/0000'"
      ></app-input>
      <app-input
        class="col-start-1 col-end-4"
        [(formController)]="formDadosPessoais.controls['telefone']"
        [placeholder]="'Telefone'"
        [id]="'telefone'"
        [name]="'telefone'"
        [tipo]="'text'"
        [formSubmetido]="formSubmetido"
        [label]="'Telefone'"
        [obrigatorio]="true"
        [contemIcone]="true"
        [mask]="'(00) 00000-0000'"
      ></app-input>
      <app-input
        class="col-start-4 col-end-9"
        [(formController)]="formDadosPessoais.controls['email']"
        [placeholder]="'Email'"
        [id]="'email'"
        [name]="'email'"
        [tipo]="'email'"
        [formSubmetido]="formSubmetido"
        [label]="'Email'"
        [obrigatorio]="true"
        [contemIcone]="true"
      ></app-input>
    </div>
    <div class="flex flex-col gap-2 mt-9">
      <div
        class="flex items-center justify-between gap-3.5 text-size-xs font-medium"
      >
        <p>
          Informe sua(s) função(oes) na igreja:
          <span class="text-red-600">*</span>
        </p>

        <app-custom-button
          (aoClicar)="adicionarFuncaoIgreja()"
          icone="plus"
          variante="icone"
          tamanhoIcone="w-3"
        ></app-custom-button>
      </div>
      <div
        *ngFor="let funcaoCtrl of funcoesIgreja; let i = index"
        class="flex items-center justify-between gap-3.5"
      >
        <app-input
          class="w-full"
          [tipo]="'select'"
          [placeholder]="'Selecione'"
          [formController]="funcaoCtrl"
          [opcoes]="opcoesFuncoes"
          [formSubmetido]="formSubmetido"
          mensagemErro="Campo obrigatório"
        ></app-input>
        <button
          type="button"
          class="font-bold"
          (click)="removerFuncaoIgreja(i)"
          *ngIf="funcoesIgreja.length > 1"
        >
          <i-lucide class="w-4" name="trash-2"></i-lucide>
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-2 mt-9">
      <div
        class="flex items-center justify-between gap-3.5 text-size-xs font-medium"
      >
        <p>Caso possua, adicione a condição médica:</p>
        <app-custom-button
          (aoClicar)="adicionarCondicaoMedica()"
          icone="plus"
          variante="icone"
          tamanhoIcone="w-3"
        ></app-custom-button>
      </div>
      <div
        *ngFor="let condicaoCtrl of condicoesMedicas; let i = index"
        class="flex items-center justify-between gap-3.5"
      >
        <app-input
          class="w-full"
          [tipo]="'select'"
          [placeholder]="'Selecione'"
          [formController]="condicaoCtrl"
          [opcoes]="opcoesCondicoes"
          [formSubmetido]="formSubmetido"
          mensagemErro="Campo obrigatório"
        ></app-input>
        <button
          type="button"
          class="font-bold"
          (click)="removerCondicaoMedica(i)"
          *ngIf="condicoesMedicas.length > 1"
        >
          <i-lucide class="w-4" name="trash-2"></i-lucide>
        </button>
      </div>
    </div>
  </form>
  <div class="flex flex-col gap-1.5">
    <button
      (click)="prosseguir()"
      [disabled]="!formDadosPessoais.valid"
      [ngClass]="{ 'opacity-60': !formDadosPessoais.valid }"
      class="bg-[#007AFF] text-size-md text-white font-semibold rounded-[0.5rem] py-2.5 flex items-center justify-center gap-2"
    >
      Prosseguir
      <i-lucide class="w-4" name="move-right"></i-lucide>
    </button>
    <button
      (click)="voltar()"
      class="border-2 border-[#007AFF] text-size-md bg-white text-[#007AFF] font-semibold rounded-[0.5rem] py-2.5"
    >
      Voltar
    </button>
  </div>
</div>
