<div class="py-8 flex justify-center px-4 w-full h-fit">
  <div class="flex flex-col gap-3.5 h-fit w-full  sm:px-12">
    <div class="bg-white rounded-[16px] shadow-lg p-6 relative">
      <div class="flex justify-center mt-6">
        <ng-lottie [options]="options" class="w-24 h-24" />
      </div>

      <div class="text-center">
        <h2 class="text-[16px] font-semibold">
          {{ usuarioExistente.nomeCompleto }}
        </h2>
        <p class="text-[14px] text-gray-500">
          {{ usuarioExistente.classe.descricao | nomeFormatado }}
        </p>
      </div>

      <ng-container [ngSwitch]="statusInscricao?.idStatus">
        <div
          *ngSwitchCase="statusPagamentoInscricaoEnum.ENVIADA"
          class="flex items-center gap-2 border-1 border-solid bg-[#007AFF]/10 border-[#007AFF] rounded-lg px-4 py-2 mt-4 text-center text-sm"
        >
          <div
            class="bg-[#007AFF] flex items-center justify-center h-6 w-6 rounded-full"
          >
            <i-lucide class="w-3 text-white" name="send"></i-lucide>
          </div>
          <span class="font-medium text-[12px]">{{
            statusInscricao?.status | nomeFormatado
          }}.</span>
        </div>
        <div
          *ngSwitchCase="statusPagamentoInscricaoEnum.AGUARDANDO_LIBERACAO"
          class="flex items-center gap-2 border-1 border-solid bg-indigo-400/10 border-indigo-400 rounded-lg px-4 py-2 mt-4 text-center text-sm"
        >
          <div
            class="bg-indigo-400 flex items-center justify-center h-6 w-6 rounded-full"
          >
            <i-lucide class="w-3 text-white" name="hourglass"></i-lucide>
          </div>
          <span class="font-medium text-[12px]">{{
            statusInscricao?.status | nomeFormatado
          }}.</span>
        </div>

        <div
          *ngSwitchCase="statusPagamentoInscricaoEnum.AGUARDANDO_PAGAMENTO"
          class="flex items-center gap-2 border-1 border-solid bg-amber-500/10 border-amber-500 rounded-lg px-4 py-2 mt-4 text-center text-sm"
        >
          <div
            class="bg-amber-500 flex items-center justify-center h-6 w-6 rounded-full"
          >
            <i-lucide class="w-3 text-white" name="wallet"></i-lucide>
          </div>
          <span class="font-medium text-[12px]">{{
            statusInscricao?.status | nomeFormatado
          }}.</span>
        </div>
        <div
          *ngSwitchCase="statusPagamentoInscricaoEnum.PAGAMENTO_CONFIRMADO"
          class="flex items-center gap-2 border-1 border-solid bg-emerald-500/10 border-emerald-500 rounded-lg px-4 py-2 mt-4 text-center text-sm"
        >
          <div
            class="bg-emerald-500 flex items-center justify-center h-6 w-6 rounded-full"
          >
            <i-lucide class="w-3 text-white" name="check-check"></i-lucide>
          </div>
          <span class="font-medium text-[12px]">{{
            statusInscricao?.status | nomeFormatado
          }}.</span>
        </div>

        <div
          *ngSwitchCase="statusPagamentoInscricaoEnum.CANCELADA"
          class="flex items-center gap-2 border-1 border-solid bg-rose-500/10 border-rose-500 rounded-lg px-4 py-2 mt-4 text-center text-sm"
        >
          <div
            class="bg-rose-500 flex items-center justify-center h-6 w-6 rounded-full"
          >
            <i-lucide class="w-3 text-white" name="ban"></i-lucide>
          </div>
          <span class="font-medium text-[12px]">{{
            statusInscricao?.status | nomeFormatado
          }}.</span>
        </div>
        <div
          *ngSwitchCase="statusPagamentoInscricaoEnum.REEMBOLSO_SOLICITADO"
          class="flex items-center gap-2 border-1 border-solid bg-zinc-600/10 border-zinc-600 rounded-lg px-4 py-2 mt-4 text-center text-sm"
        >
          <div
            class="bg-zinc-600 flex items-center justify-center h-6 w-6 rounded-full"
          >
            <i-lucide class="w-3 text-white" name="rotate-ccw"></i-lucide>
          </div>
          <span class="font-medium text-[12px]">{{
            statusInscricao?.status | nomeFormatado
          }}.</span>
        </div>
      </ng-container>

      <div
        *ngIf="exibicaoAlertaInstrumentista"
        class="flex justify-between bg-amber-100 rounded-lg px-4 py-2 mt-4 text-start text-sm"
      >
        <p>
          Importante: Lembre-se de levar seu próprio instrumento no dia do
          evento. Ele é necessário para sua participação.
        </p>
      </div>

      <div class="flex flex-col gap-3.5 relative">
        <span class="h-0.5 bg-[#F6F6F6]"></span>
        <div class="flex flex-col gap-1.5 text-[10px] sm:text-[12px]">
          <p class="flex justify-between">
            <span class="font-medium">Nome:</span>
            {{ usuarioExistente.nomeCompleto }}
          </p>
          <p class="flex justify-between">
            <span class="font-medium">Igreja:</span>
            {{ usuarioExistente.igreja.descricao | nomeFormatado }}
          </p>
          <p class="flex justify-between">
            <span class="font-medium">CPF:</span>
            {{ usuarioExistente.cpf | cpf }}
          </p>
          <p class="flex justify-between">
            <span class="font-medium">Email:</span>
            {{ usuarioExistente.email || "Não informado" }}
          </p>
          <p class="flex justify-between">
            <span class="font-medium">Telefone:</span>
            {{ usuarioExistente.telefone | telefone }}
          </p>
          <p class="flex justify-between">
            <span class="font-medium">Nascimento:</span>
            {{ usuarioExistente.nascimento }}
          </p>
          <p class="flex justify-between">
            <span class="font-medium">PCD:</span>
            {{
              usuarioExistente.pcd == "" ? "Não possui" : usuarioExistente.pcd
            }}
          </p>
          <p class="flex justify-between">
            <span class="font-medium">Possui dons?</span>
            {{ usuarioExistente.possuiDons == true ? "Sim" : "Não" }}
          </p>
          <p class="flex justify-between">
            <span class="font-medium">Classe:</span>
            {{ usuarioExistente.classe.descricao | nomeFormatado }}
          </p>
        </div>

        <div class="h-0.5 bg-[#F6F6F6] w-full"></div>
        <div
          class="flex flex-col gap-1.5 text-[10px] sm:text-[12px] pb-3 border-b border-dashed border-gray-300"
          *ngIf="usuarioExistente.instrumentos.length > 0"
        >
          <div class="flex flex-col gap-2">
            <p class="font-medium">Instrumentos:</p>
            <span *ngFor="let instrumento of usuarioExistente.instrumentos">
              {{ instrumento | nomeFormatado }}
            </span>
          </div>
        </div>
        <div
          class="flex flex-col gap-1.5 text-[10px] sm:text-[12px] pb-3 border-b border-dashed border-gray-300"
          *ngIf="usuarioExistente.condicoesMedica.length > 0"
        >
          <div class="flex flex-col gap-2">
            <p class="font-medium">Condições Médicas:</p>
            <span *ngFor="let condicao of usuarioExistente.condicoesMedica">
              {{ condicao | nomeFormatado }}
            </span>
          </div>
        </div>
        <div
          class="flex flex-col gap-1.5 text-[10px] sm:text-[12px] pb-3"
          *ngIf="usuarioExistente.funcoesIgreja.length > 0"
        >
          <div class="flex flex-col gap-2">
            <p class="font-medium">Funções na igreja:</p>
            <span *ngFor="let funcao of usuarioExistente.funcoesIgreja">
              {{ funcao | nomeFormatado }}
            </span>
          </div>
        </div>
      </div>

      <div class="h-0.5 w-full mb-7 mt-2 bg-[#F6F6F6]"></div>

      <div class="flex justify-end items-center space-x-4">
        <button
          class="bg-[#007AFF] w-full text-[14px] text-white font-semibold rounded-[0.5rem] py-2.5 flex items-center justify-center gap-2"
          (click)="abrirModalEdicaoUsuario()"
        >
          Editar perfil
          <i-lucide class="w-4" name="pencil"></i-lucide>
        </button>
        <div class="flex justify-end" *ngIf="dadosEvento">
          <button
            (click)="navegarParaGrupo()"
            class="px-4 py-2.5 flex text-[14px] items-center justify-center bg-[#25D366] rounded-[0.5rem] shadow-lg"
          >
            <i-lucide
              class="w-5 text-white"
              name="MessageCircleCode"
            ></i-lucide>
          </button>
        </div>
        <div class="flex justify-end" *ngIf="exibicaoBotaoCheckin">
          <button
            (click)="exibirCardCheckin()"
            class="px-4 py-2.5 flex text-[14px] items-center justify-center bg-[#007AFF] rounded-[0.5rem] shadow-lg"
          >
            <i-lucide class="w-5 text-white" name="qr-code"></i-lucide>
          </button>
        </div>
      </div>
    </div>

    <div
      class="bg-white rounded-lg shadow-lg p-6 relative"
      *ngIf="exibicaoCardCheckin"
    >
      <div class="flex flex-col gap-3.5 relative">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <div
              class="bg-[#F6F6F6] flex items-center justify-center py-1 px-2.5 rounded-[8px]"
            >
              <i-lucide class="w-3.5" name="ticket"></i-lucide>
            </div>
            <p class="font-bold text-[12px]">Checkin</p>
          </div>
        </div>
        <span class="h-0.5 bg-[#F6F6F6]"></span>
        <div class="flex flex-col gap-1.5 text-[10px]">
          <p class="font-medium">
            Sua inscrição foi paga com sucesso!
            <span class="font-normal">
              Basta apresentar o qrCode gerado na hora do check-in do
              evento.</span
            >
          </p>
        </div>
      </div>

      <div class="flex items-center flex-col gap-2.5 justify-center">
        <img
          class="w-55 h-w-55"
          [src]="`data:image/jpeg;base64,${informacoesCheckin.imagemBase64}`"
          alt=""
        />
      </div>
    </div>

    <div
      class="bg-white rounded-lg shadow-lg p-6 relative"
      *ngIf="exibicaoCardPagamento"
    >
      <div class="flex flex-col gap-3.5 relative">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <div
              class="bg-[#F6F6F6] flex items-center justify-center py-1 px-2.5 rounded-[8px]"
            >
              <i-lucide class="w-3.5" name="wallet"></i-lucide>
            </div>
            <p class="font-bold text-[12px]">Pagamento</p>
          </div>
        </div>
        <span class="h-0.5 bg-[#F6F6F6]"></span>
        <div class="flex flex-col gap-1.5 text-[10px]">
          <p class="font-medium">
            Sua inscrição foi registrada com sucesso!
            <span class="font-normal">
              Para concluir o processo, é necessário realizar o pagamento da
              taxa de inscrição.</span
            >
          </p>
        </div>
      </div>

      <div class="flex items-center flex-col gap-2.5 justify-center">
        <img
          class="w-55 h-w-55"
          [src]="`data:image/jpeg;base64,${informacoesPagamento.imagemBase64}`"
          alt=""
        />
        <button
          class="bg-[#007AFF] w-[80%] text-[14px] text-white font-semibold rounded-[0.5rem] py-2.5 flex items-center justify-center gap-2"
          (click)="copiarPix()"
        >
          Pix copia e cola
          <i-lucide class="w-4" name="copy"></i-lucide>
        </button>
      </div>
    </div>

    <!-- <div class="flex flex-col gap-1.5">
      <button
        class="bg-[#007AFF] text-[14px] text-white font-semibold rounded-[0.5rem] py-2.5 flex items-center justify-center gap-2"
      >
        Cancelar inscrição
        <i-lucide class="w-4" name="ban"></i-lucide>
      </button>
      <button
        class="bg-[#007AFF] text-[14px] text-white font-semibold rounded-[0.5rem] py-2.5 flex items-center justify-center gap-2"
      >
        Entrar no grupo whatsApp
        <i-lucide class="w-4" name="message-square"></i-lucide>
      </button>
    </div> -->
  </div>
</div>
