<div class="flex justify-center items-center h-lvh-screen">
  <div
    class="flex flex-col py-8 px-16 w-[55%] h-screen max-sm:w-full max-sm:px-4 max-sm:h-full"
  >
    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-2">
        <div
          class="bg-zinc-800 flex items-center justify-center py-1 px-2.5 rounded-[8px]"
        >
          <i-lucide class="w-3.5 text-white" name="hand-heart"></i-lucide>
        </div>
        <p class="text-2xl font-semibold">Bem-vindo</p>
      </div>
      <p class="text-[12px]">Selecione uma das opções abaixo para continuar:</p>
    </div>
    <div class="py-4 flex flex-col gap-3.5">
      <button
      (click)="navegar(1)"
        class="flex flex-col gap-3.5 border-b-4 border-l-4 border border-solid border-[#007AFF] bg-white rounded-[18px] shadow-lg p-6 relative"
      >
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <div
              class="bg-[#007AFF] flex items-center justify-center py-1 px-2.5 rounded-[8px]"
            >
              <i-lucide class="w-3.5 text-white" name="user"></i-lucide>
            </div>
            <p class="font-bold text-[12px]">Usuário comum</p>
          </div>
        </div>
        <p class="text-[10px] text-start">
          Clique aqui caso você seja um usuário comum, para realizar ações como
          editar seu perfil, consultar eventos nos quais se cadastrou, entre
          outras funcionalidaddes
        </p>
      </button>
      <button
        (click)="navegar(2)"
        class="flex flex-col gap-3.5 border-b-4 border-l-4 border border-solid border-gray-500 bg-white rounded-[18px] shadow-lg p-6 relative"
      >
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <div
              class="bg-gray-500 flex items-center justify-center py-1 px-2.5 rounded-[8px]"
            >
              <i-lucide class="w-3.5 text-white" name="shield-user"></i-lucide>
            </div>
            <p class="font-bold text-[12px]">Usuário administrador</p>
          </div>
        </div>
        <p class="text-[10px] text-start">
          Clique aqui caso você seja um usuário administrador, para realizar
          ações como gerenciar usuários, visualizar relatórios, entre outras
          funcionalidades
        </p>
      </button>
    </div>
  </div>
  <div
    class="bg-[url(/img/bg-login.jpeg)] bg-no-repeat bg-cover w-[65%] h-screen max-sm:hidden"
  ></div>
</div>
