<div class="px-6 pb-6 pt-4">
  <div class="flex justify-end w-full">
    <app-custom-button
      variante="icone"
      icone="circle-x"
      classeCustom="!text-rose-500 !bg-transparent"
      (aoClicar)="fechar()"
    >
    </app-custom-button>
  </div>

  <form class="grid grid-cols-8 gap-3.5" [formGroup]="formFiltroCheckin">
    <app-input
      class="col-start-1 col-end-9"
      [(formController)]="formFiltroCheckin.controls['nome']"
      [placeholder]="'Nome do participante'"
      [id]="'nome'"
      [name]="'nome'"
      [tipo]="'text'"
      [label]="'Nome'"
    ></app-input>
    <app-input
      class="col-start-1 col-end-5"
      [tipo]="'select'"
      [label]="'Período'"
      [placeholder]="'Selecione'"
      [formController]="formFiltroCheckin.controls['periodo']"
      [opcoes]="periodos"
      mensagemErro="Campo obrigatório"
    ></app-input>

    <app-input
      class="col-start-5 col-end-9"
      [tipo]="'select'"
      [label]="'Status'"
      [placeholder]="'Selecione'"
      [formController]="formFiltroCheckin.controls['status']"
      [opcoes]="statusCheckin"
      mensagemErro="Campo obrigatório"
    ></app-input>
    <app-input
      class="col-start-1 col-end-9"
      [tipo]="'select'"
      [label]="'Função evento'"
      [placeholder]="'Selecione'"
      [formController]="formFiltroCheckin.controls['funcaoEvento']"
      [opcoes]="opcoesFuncaoEvento"
      mensagemErro="Campo obrigatório"
    ></app-input>
    <app-custom-button
      class="col-start-1 col-end-9"
      texto="Filtrar"
      icone="funnel"
      variante="primario"
      (aoClicar)="fechar()"
    ></app-custom-button>
  </form>
</div>
