<div class="flex flex-col gap-3.5">
  <div class="flex flex-col gap-3.5 p-6 relative">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-2" *ngIf="!data.remocaoCheckin">
        <div
          class="bg-emerald-300 flex items-center justify-center h-5 w-5 rounded-full"
        >
          <i-lucide class="w-2.5" name="check"></i-lucide>
        </div>

        <p class="font-bold text-size-base sm:text-size-md">
          Checkin confirmado
        </p>
      </div>
      <div class="flex items-center gap-2" *ngIf="data.remocaoCheckin">
        <div
          class="bg-rose-500 flex items-center justify-center h-5 w-5 rounded-full"
        >
          <i-lucide class="w-2.5 text-white" name="ban"></i-lucide>
        </div>

        <p class="font-bold text-size-base sm:text-size-md">Checkin zerado</p>
      </div>
      <button
        (click)="fecharModal()"
        class="flex items-center justify-center h-7 w-7 rounded-full"
      >
        <i-lucide class="w-3.5 text-rose-500" name="circle-x"></i-lucide>
      </button>
    </div>
    <span class="h-0.5 bg-[#F6F6F6]"></span>
    <div
      *ngFor="let item of data.resultadoValidacao; let i = index"
      [ngClass]="{
        'border-b border-dashed border-gray-300 pb-3.5':
          i < data.resultadoValidacao.length - 1
      }"
      class="flex flex-col gap-1.5 text-size-xs sm:text-size-base"
    >
      <p class="flex justify-between">
        <span class="font-medium">Nome:</span>
        {{ item.nomeCompleto | nomeAbreviado }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Período:</span>
        {{ item.periodo }}
      </p>
      <p class="flex justify-between">
        <span class="font-medium">Função:</span>

        {{ item.grupo | nomeFormatado }}
      </p>
      <div class="flex justify-between" *ngIf="item.pulseira != null">
        <p class="font-medium">Pulseira:</p>
        <div class="flex items-center gap-1">
          <span>{{ item.pulseira | nomeFormatado }}</span>
          <div
            class="w-1.5 h-1.5 rounded-full"
            [style.background-color]="buscarCorHexa(item.pulseira)"
          ></div>
        </div>
      </div>
      <!-- Array de dependentes -->
      <div *ngIf="item.dependente.length > 0" class="flex flex-col">
        <div class="flex justify-between items-start">
          <p class="font-medium">Dependentes:</p>
          <div class="flex items-center gap-2">
            <p class="font-medium m-0">{{ item.dependente[0].nome }}</p>
            <span>{{ item.dependente[0].cor | nomeFormatado }}</span>
            <div
              class="w-1.5 h-1.5 rounded-full"
              [style.background-color]="buscarCorHexa(item.dependente[0].cor)"
            ></div>
          </div>
        </div>
        <div class="flex flex-col gap-1 mt-1 items-end" *ngIf="item.dependente.length > 1">
          <div class="flex items-center gap-2" *ngFor="let dep of item.dependente.slice(1)">
            <p class="font-medium m-0">{{ dep.nome }}</p>
            <span>{{ dep.cor | nomeFormatado }}</span>
            <div
              class="w-1.5 h-1.5 rounded-full"
              [style.background-color]="buscarCorHexa(dep.cor)"
            ></div>
          </div>
        </div>
      </div>
      <div class="flex justify-between" *ngIf="item.etiquetaVisita != null">
        <p class="font-medium">Etiqueta visita:</p>
        <div class="flex items-center gap-1">
          <span>{{ item.etiquetaVisita | nomeFormatado }}</span>
          <div
            class="w-1.5 h-1.5 rounded-full"
            [style.background-color]="buscarCorHexa(item.etiquetaVisita)"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
